﻿/************************************  LeftFrame ************************************/

Button.btn_LF_admin
{
	background		: transparent;
	border			: 0 none,0 none,1 solid #54555cff,0 none;
	bordertype		: normal 0 0;
	image                   : URL('img::L_ico_admin.png');
	imagealign              : center toptext ;
	font                    : 8 dotum;
	color                   : #ffffff;
	cursor                  : hand;
	opacity                 : 25;
}
Button.btn_LF_admin:mouseover
{
	background		: #62636bff;
	border			: 0 none,0 none,1 solid #54555cff,0 none;
	bordertype		: normal 0 0;
	image                   : URL('img::L_ico_admin.png');
	font                    : 8 dotum;
	color                   : #ffffff;	
	opacity                 : 70;	
}
Button.btn_LF_admin:pushed,Button.btn_bl_LF_admin:focused,Button.btn_bl_LF_admin:selected
{
	background		: #62636bff;
	border			: 0 none,0 none,1 solid #54555cff,0 none;
	bordertype		: normal 0 0;
	image                   : URL('img::L_ico_admin.png');
	imagealign              : center toptext ;
	font                    : bold 8 dotum;
	letterspace             : -1;	
	color                   : #ffffff;
}

Button.btn_LF_admin_selected
{
	background		: #62636bff;
	border			: 0 none,0 none,1 solid #54555cff,0 none;
	bordertype		: normal 0 0;
	image                   : URL('img::L_ico_admin.png');
	imagealign              : center toptext ;
	font                    : bold 8 dotum;
	letterspace             : -1;	
	color                   : #ffffff;
}
Button.btn_LF_admin_selected:mouseover,Button.btn_LF_admin_selected:pushed,Button.btn_LF_admin_selected:focused,Button.btn_LF_admin_selected:selected
{
	background		: #62636bff;
	border			: 0 none,0 none,1 solid #54555cff,0 none;
	bordertype		: normal 0 0;
	image                   : URL('img::L_ico_admin.png');
	imagealign              : center toptext ;
	font                    : bold 8 dotum;
	letterspace             : -1;	
	color                   : #ffffff;
}

Button.btn_LF_wms
{
	background		: transparent;
	border			: 0 none,0 none,1 solid #54555cff,0 none;
	bordertype		: normal 0 0;
	image                   : URL('img::L_ico_wms.png');
	imagealign              : center toptext ;
	font                    : 8 dotum;
	color                   : #ffffff;
	cursor                  : hand;	
	opacity                 : 25;
}
Button.btn_LF_wms:mouseover
{
	background		: #62636bff;
	border			: 0 none,0 none,1 solid #54555cff,0 none;
	bordertype		: normal 0 0;
	image                   : URL('img::L_ico_wms.png');
	font                    : 8 dotum;	
	color                   : #ffffff;
	opacity                 : 70;	
}
Button.btn_LF_wms:pushed,Button.btn_LF_wms:focused,Button.btn_LF_wms:selected
{
	background		: #62636bff;
	border			: 0 none,0 none,1 solid #54555cff,0 none;
	bordertype		: normal 0 0;
	image                   : URL('img::L_ico_wms.png');
	imagealign              : center toptext ;
	font                    : bold 8 dotum;
	color                   : #ffffff;
}
Button.btn_LF_wms_selected
{
	background		: #62636bff;
	border			: 0 none,0 none,1 solid #54555cff,0 none;
	bordertype		: normal 0 0;
	image                   : URL('img::L_ico_wms.png');
        imagealign              : center toptext ;	
	font                    : bold 8 dotum;
	color                   : #ffffff;
}
Button.btn_LF_wms_selected:mouseover,Button.btn_LF_wms_selected:pushed,Button.btn_LF_wms_selected:focused,Button.btn_LF_wms_selected:selected
{
	background		: #62636bff;
	border			: 0 none,0 none,1 solid #54555cff,0 none;
	bordertype		: normal 0 0;
	image                   : URL('img::L_ico_wms.png');
        imagealign              : center toptext ;	
	font                    : bold 8 dotum;
	color                   : #ffffff;
}

Button.btn_LF_tms
{
	background		: transparent;
	border			: 0 none,0 none,1 solid #54555cff,0 none;
	bordertype		: normal 0 0;
	image                   : URL('img::L_ico_tms.png');
	imagealign              : center toptext ;
	font                    : 8 dotum;
	color                   : #ffffffff;
	cursor                  : hand;
	opacity                 : 25;
}
Button.btn_LF_tms:mouseover
{
	background		: #62636bff;
	border			: 0 none,0 none,1 solid #54555cff,0 none;
	bordertype		: normal 0 0;
	image                   : URL('img::L_ico_tms.png');
	font                    : 8 dotum;
	color                   : #ffffff;
	opacity                 : 70;
}
Button.btn_LF_tms:pushed,Button.btn_LF_tms:focused,Button.btn_LF_tms:selected
{
	background		: #62636bff;
	border			: 0 none,0 none,1 solid #54555cff,0 none;
	bordertype		: normal 0 0;
	image                   : URL('img::L_ico_tms.png');
	imagealign              : center toptext ;
	font                    : bold 8 dotum;
	color                   : #ffffff;
}
Button.btn_LF_tms_selected
{
	background		: #62636bff;
	border			: 0 none,0 none,1 solid #54555cff,0 none;
	bordertype		: normal 0 0;
	image                   : URL('img::L_ico_tms.png');
	imagealign              : center toptext ;	
	font                    : bold 8 dotum;
	color                   : #ffffff;
}
Button.btn_LF_tms_selected:mouseover,Button.btn_LF_tms_selected:pushed,Button.btn_LF_tms_selected:focused,Button.btn_LF_tms_selected:selected
{
	background		: #62636bff;
	border			: 0 none,0 none,1 solid #54555cff,0 none;
	bordertype		: normal 0 0;
	image                   : URL('img::L_ico_tms.png');
	imagealign              : center toptext ;
	font                    : bold 8 dotum;
	color                   : #ffffff;
}

Button.btn_LF_vms
{
	background		: transparent;
	border			: 0 none,0 none,1 solid #54555cff,0 none;
	bordertype		: normal 0 0;
	image                   : URL('img::L_ico_vms.png');
	imagealign              : center toptext ;
	font                    : 8 dotum;
	color                   : #ffffffff;
	cursor                  : hand;
	opacity                 : 25;
}
Button.btn_LF_vms:mouseover
{
	background		: #62636bff;
	border			: 0 none,0 none,1 solid #54555cff,0 none;
	bordertype		: normal 0 0;
	image                   : URL('img::L_ico_vms.png');
	font                    : 8 dotum;
	color                   : #ffffff;
	opacity                 : 70;
}
Button.btn_LF_vms:pushed,Button.btn_LF_vms:focused,Button.btn_LF_vms:selected
{
	background		: #62636bff;
	border			: 0 none,0 none,1 solid #54555cff,0 none;
	bordertype		: normal 0 0;
	image                   : URL('img::L_ico_vms.png');
	imagealign              : center toptext ;
	font                    : bold 8 dotum;
	color                   : #ffffff;
}
Button.btn_LF_vms_selected
{
	background		: #62636bff;
	border			: 0 none,0 none,1 solid #54555cff,0 none;
	bordertype		: normal 0 0;
	image                   : URL('img::L_ico_vms.png');
	imagealign              : center toptext ;	
	font                    : bold 8 dotum;
	color                   : #ffffff;
}
Button.btn_LF_vms_selected:mouseover,Button.btn_LF_vms_selected:pushed,Button.btn_LF_vms_selected:focused,Button.btn_LF_vms_selected:selected
{
	background		: #62636bff;
	border			: 0 none,0 none,1 solid #54555cff,0 none;
	bordertype		: normal 0 0;
	image                   : URL('img::L_ico_vms.png');
	imagealign              : center toptext ;
	font                    : bold 8 dotum;
	color                   : #ffffff;
}

Button.btn_LF_oms
{
	background		: transparent;
	border			: 0 none,0 none,1 solid #54555cff,0 none;
	bordertype		: normal 0 0;
	image                   : URL('img::L_ico_oms.png');
	imagealign              : center toptext ;
	font                    : 8 dotum;
	color                   : #ffffffff;
	cursor                  : hand;
	opacity                 : 25;
}
Button.btn_LF_oms:mouseover
{
	background		: #62636bff;
	border			: 0 none,0 none,1 solid #54555cff,0 none;
	bordertype		: normal 0 0;
	image                   : URL('img::L_ico_oms.png');
	font                    : 8 dotum;
	color                   : #ffffff;
	opacity                 : 70;
}
Button.btn_LF_oms:pushed,Button.btn_LF_oms:focused,Button.btn_LF_oms:selected
{
	background		: #62636bff;
	border			: 0 none,0 none,1 solid #54555cff,0 none;
	bordertype		: normal 0 0;
	image                   : URL('img::L_ico_oms.png');
	imagealign              : center toptext ;
	font                    : bold 8 dotum;
	color                   : #ffffff;
}
Button.btn_LF_oms_selected
{
	background		: #62636bff;
	border			: 0 none,0 none,1 solid #54555cff,0 none;
	bordertype		: normal 0 0;
	image                   : URL('img::L_ico_oms.png');
	imagealign              : center toptext ;	
	font                    : bold 8 dotum;
	color                   : #ffffff;
}
Button.btn_LF_oms_selected:mouseover,Button.btn_LF_oms_selected:pushed,Button.btn_LF_oms_selected:focused,Button.btn_LF_oms_selected:selected
{
	background		: #62636bff;
	border			: 0 none,0 none,1 solid #54555cff,0 none;
	bordertype		: normal 0 0;
	image                   : URL('img::L_ico_oms.png');
	imagealign              : center toptext ;
	font                    : bold 8 dotum;
	color                   : #ffffff;
}

Button.btn_LF_kpi
{
	background		: transparent;
	border			: 0 none,0 none,1 solid #54555cff,0 none;
	bordertype		: normal 0 0;
	image                   : URL('img::L_ico_bbs.png');
	imagealign              : center toptext ;
	font                    : 8 dotum;
	color                   : #ffffffff;
	cursor                  : hand;
	opacity                 : 25;
}
Button.btn_LF_kpi:mouseover
{
	background		: #62636bff;
	border			: 0 none,0 none,1 solid #54555cff,0 none;
	bordertype		: normal 0 0;
	image                   : URL('img::L_ico_bbs.png');
	font                    : 8 dotum;
	color                   : #ffffff;
	opacity                 : 70;
}
Button.btn_LF_kpi:pushed,Button.btn_LF_kpi:focused,Button.btn_LF_kpi:selected
{
	background		: #62636bff;
	border			: 0 none,0 none,1 solid #54555cff,0 none;
	bordertype		: normal 0 0;
	image                   : URL('img::L_ico_bbs.png');
	imagealign              : center toptext ;
	font                    : bold 8 dotum;
	color                   : #ffffff;
}
Button.btn_LF_kpi_selected
{
	background		: #62636bff;
	border			: 0 none,0 none,1 solid #54555cff,0 none;
	bordertype		: normal 0 0;
	image                   : URL('img::L_ico_bbs.png');
	imagealign              : center toptext ;	
	font                    : bold 8 dotum;
	color                   : #ffffff;
}
Button.btn_LF_kpi_selected:mouseover,Button.btn_LF_kpi_selected:pushed,Button.btn_LF_kpi_selected:focused,Button.btn_LF_kpi_selected:selected
{
	background		: #62636bff;
	border			: 0 none,0 none,1 solid #54555cff,0 none;
	bordertype		: normal 0 0;
	image                   : URL('img::L_ico_bbs.png');
	imagealign              : center toptext ;
	font                    : bold 8 dotum;
	color                   : #ffffff;
}

Button.btn_LF_ibs
{
	background		: transparent;
	border			: 0 none,0 none,1 solid #54555cff,0 none;
	bordertype		: normal 0 0;
	image                   : URL('img::L_ico_pms.png');
	imagealign              : center toptext ;
	font                    : 8 dotum;
	color                   : #ffffffff;
	cursor                  : hand;
	opacity                 : 25;
}
Button.btn_LF_ibs:mouseover
{
	background		: #62636bff;
	border			: 0 none,0 none,1 solid #54555cff,0 none;
	bordertype		: normal 0 0;
	image                   : URL('img::L_ico_pms.png');
	font                    : 8 dotum;
	color                   : #ffffff;
	opacity                 : 70;
}
Button.btn_LF_ibs:pushed,Button.btn_LF_ibs:focused,Button.btn_LF_ibs:selected
{
	background		: #62636bff;
	border			: 0 none,0 none,1 solid #54555cff,0 none;
	bordertype		: normal 0 0;
	image                   : URL('img::L_ico_pms.png');
	imagealign              : center toptext ;
	font                    : bold 8 dotum;
	color                   : #ffffff;
}
Button.btn_LF_ibs_selected
{
	background		: #62636bff;
	border			: 0 none,0 none,1 solid #54555cff,0 none;
	bordertype		: normal 0 0;
	image                   : URL('img::L_ico_pms.png');
	imagealign              : center toptext ;	
	font                    : bold 8 dotum;
	color                   : #ffffff;
}
Button.btn_LF_ibs_selected:mouseover,Button.btn_LF_ibs_selected:pushed,Button.btn_LF_ibs_selected:focused,Button.btn_LF_ibs_selected:selected
{
	background		: #62636bff;
	border			: 0 none,0 none,1 solid #54555cff,0 none;
	bordertype		: normal 0 0;
	image                   : URL('img::L_ico_pms.png');
	imagealign              : center toptext ;
	font                    : bold 8 dotum;
	color                   : #ffffff;
}

Static.sta_LF_back
{
	background		: #76767eff;
	border			: 0 none;
}
