﻿/***********************************************************************/
/***** PROJECT NAME	: Nexacro Platform Design Education	********/
/***** CREATION DATES	: 2017. 02				********/
/***** DRAFTER		: 				********/
/***********************************************************************/

/* MainFrame */
MainFrame
{
	background 	: transparent;
	border 			: 0 none ;
	bordertype 		: normal;
	opacity 		: 100;
	titlebarheight	 	: 28;
	statusbarheight 	: 0;
	menubarheight 		: 28;
	color			: #000000;
	font			: antialias bold 10 Dotum;
}

/* ChildFrame */
ChildFrame
{
	background      	: #ffffff;
	border			: 0 none ;
	bordertype 		: normal;
	titlebarheight 		: 90;
	statusbarheight 	: 0;
	color			: #333333;
	font			: antialias bold 24 Dotum;
}
ChildFrame>TitlebarForm
{
	background      	: #666666;
	bordertype 		: normal;
	border			: 1 solid #777777, 0 none, 0 none, 0 none ;
	font			: antialias bold 26 Dotum;
	color			: #ffffff;
	align			: left middle;
	padding		        : 0 0 0 37;	
}

/* TitleBarControl */
TitleBarControl
{
	background		: #666666;
	color			: #ffffff;
}
TitleBarControl:deactivate
{
	background		: #adadad;
	color			: #ffffff;
}
TitleBarControl:disabled
{
	background		: #eeeeee;
	color			: #ffffff;
}
TitleBarControl>#minbutton, TitleBarControl>#minbutton:mouseover, TitleBarControl>#minbutton:pushed,
TitleBarControl>#minbutton:focused, TitleBarControl>#minbutton:selected, TitleBarControl>#minbutton:disabled
{
	background		: transparent;
	border			: 0 none;
	bordertype		: normal 0 0;
	image			: URL('theme://images/btn_Titlebar_Min.png');
}
TitleBarControl>#minbutton:disabled
{
	opacity			: 50;
}
TitleBarControl>#maxbutton, TitleBarControl>#maxbutton:mouseover, TitleBarControl>#maxbutton:pushed,
TitleBarControl>#maxbutton:focused, TitleBarControl>#maxbutton:selected, TitleBarControl>#maxbutton:disabled
{
	background		: transparent;
	border			: 0 none;
	bordertype		: normal 0 0;
	image			: URL('theme://images/btn_Titlebar_Max.png');
}
TitleBarControl>#maxbutton:disabled
{
	opacity			: 50;
}
TitleBarControl>#normalbutton, TitleBarControl>#normalbutton:mouseover, TitleBarControl>#normalbutton:pushed,
TitleBarControl>#normalbutton:focused, TitleBarControl>#normalbutton:selected, TitleBarControl>#normalbutton:disabled
{
	background		: transparent;
	border			: 0 none;
	bordertype		: normal 0 0;
	image			: URL('theme://images/btn_Titlebar_Nor.png');
}
TitleBarControl>#normalbutton:disabled
{
	opacity			: 50;
}
TitleBarControl>#closebutton, TitleBarControl>#closebutton:mouseover, TitleBarControl>#closebutton:pushed,
TitleBarControl>#closebutton:focused, TitleBarControl>#closebutton:selected, TitleBarControl>#closebutton:disabled
{
	background		: transparent;
	border			: 0 none;
	bordertype		: normal 0 0;
	image			: URL('theme://images/btn_Titlebar_Close.png');
}
TitleBarControl>#closebutton:disabled
{
	opacity			: 50;
}

/* VScrollBarControl */
VScrollBarControl, VScrollBarControl:mouseover, VScrollBarControl:pushed,
VScrollBarControl:focused, VScrollBarControl:selected, VScrollBarControl:disabled
{
	background		: #ffffff;
	barminsize		: 12;
	border			: 0 none
	bordertype		: normal;
	decbtnsize		: 0;
	incbtnsize		: 0;
	padding			: 0 0 0 0;
	scrollbarsize		: 10;
}
VScrollBarControl:disabled
{
	background		: #fbfbfb;
	border			: 0 none;
}
VScrollBarControl>#decbutton
{
	background		: transparent;
	border			: 0 none;
	bordertype		: normal 0 0;
	image			: ;
}
VScrollBarControl>#decbutton:mouseover, VScrollBarControl>#decbutton:focused
{
	image			: ;
}
VScrollBarControl>#decbutton:pushed,VScrollBarControl>#decbutton:selected
{
	image			: ;
}
VScrollBarControl>#decbutton:disabled
{
	opacity			:50%;
}
VScrollBarControl>#incbutton
{
	background		: transparent;
	border			: 0 none;
	bordertype		: normal 0 0;
	image			: ;
}
VScrollBarControl>#incbutton:mouseover, VScrollBarControl>#incbutton:focused
{
	image			: ;
}
VScrollBarControl>#incbutton:pushed,VScrollBarControl>#incbutton:selected
{
	image			: ;
}
VScrollBarControl>#incbutton:disabled
{
	opacity			:50%;
}
VScrollBarControl>#trackbar
{
	background		: #6c7f9a;
	border			: 1 solid #ffffff;
	bordertype		: round 5 5;
}

VScrollBarControl>#trackbar:disabled
{
	background		: #cacaca;
	border			: 1 solid #fbfbfb;
	bordertype		: round 5 5;
}

/* HScrollBarControl */
HScrollBarControl, HScrollBarControl:mouseover, HScrollBarControl:pushed,
HScrollBarControl:focused, HScrollBarControl:selected, HScrollBarControl:disabled
{
	background		: #ffffff;
	barminsize		: 12;
	border			: 0 none;
	bordertype		: normal;
	decbtnsize		: 0;
	incbtnsize		: 0;
	padding			: 0 0 0 0;
	scrollbarsize		: 10;
}

HScrollBarControl:disabled
{
	background		: #fbfbfb;
	border			: 0 none;
}
HScrollBarControl>#decbutton
{
	background		: transparent;
	border			: 0 none;
	bordertype		: normal 0 0;
	image			: ;
}
HScrollBarControl>#decbutton:mouseover, VScrollBarControl>#decbutton:focused
{
	image			: ;
}
HScrollBarControl>#decbutton:pushed,VScrollBarControl>#decbutton:selected
{
	image			: ;
}
HScrollBarControl>#decbutton:disabled
{
	opacity			: 50%;
}
HScrollBarControl>#incbutton
{
	background		: transparent;
	border			: 0 none;
	bordertype		: normal 0 0;
	image			:  ;
}
HScrollBarControl>#incbutton:mouseover, HScrollBarControl>#incbutton:focused
{
	image			: ;
}
HScrollBarControl>#incbutton:pushed,HScrollBarControl>#incbutton:selected
{
	image			: ;
}
HScrollBarControl>#incbutton:disabled
{
	opacity			: 50%;
}
HScrollBarControl>#trackbar
{
	background		: #6c7f9a;
	border			: 1 solid #ffffff;
	bordertype		: round 5 5;
}

HScrollBarControl>#trackbar:disabled
{
	background		: #c1c1c1;
	border			: 1 solid #fbfbfb;
}

*>#resizebutton
{
	background		: #dcdcdc;
	border			: 0 none;
	bordertype		: normal 0 0;
}


/* Button */
Button, Button:mouseover, Button:pushed, Button:disabled
{
	align			: center middle;
	background		: #2e333f;
	border			: 0 none;
	color			: #ffffff;
	cursor			: hand;
	font			: antialias bold 22 Dotum; 
	padding			: 0 0 0 0;
}

Button:pushed
{
	background		: #000000;
}
Button:disabled
{
	background		: #eeeeee;
	color			: #777777;
}

Button.btn_Top_center, Button.btn_Top_center:mouseover, Button.btn_Top_center:pushed, Button.btn_Top_center:disable,
Button.btn_Top_centerS, Button.btn_Top_centerS:mouseover, Button.btn_Top_centerS:pushed, Button.btn_Top_centerS:disable
{
	background		: transparent URL('theme://images/btn_Top_centerN.png') center middle;
	border			: 0 none ;
	bordertype		: normal ; 
}
Button.btn_Top_centerS, Button.btn_Top_centerS:mouseover, Button.btn_Top_centerS:pushed
{
	background		: transparent URL('theme://images/btn_Top_centerS.png') center middle;
}
Button.btn_Top_center:disable, Button.btn_Top_centerS:disable
{
	opacity			: 50%;
}

Button.btn_Top_left, Button.btn_Top_left:mouseover, Button.btn_Top_left:pushed, Button.btn_Top_left:disable, 
Button.btn_Top_leftS, Button.btn_Top_leftS:mouseover, Button.btn_Top_leftS:pushed, Button.btn_Top_leftS:disable
{
	background		: transparent URL('theme://images/btn_Top_leftN.png') center middle;
	border			: 0 none ;
	bordertype		: normal ; 
}
Button.btn_Top_leftS, Button.btn_Top_leftS:mouseover, Button.btn_Top_leftS:pushed
{
	background		: transparent URL('theme://images/btn_Top_leftS.png') center middle;
}

Button.btn_Top_left:disable, Button.btn_Top_leftS:disable
{
	opacity			: 50%;
}

Button.btn_Top_right, Button.btn_Top_right:mouseover, Button.btn_Top_right:pushed, Button.btn_Top_right:disable,
Button.btn_Top_rightS, Button.btn_Top_rightS:mouseover, Button.btn_Top_rightS:pushed, Button.btn_Top_rightS:disable
{
	background		: transparent URL('theme://images/btn_Top_rightN.png') center middle;
	border			: 0 none ;
	bordertype		: normal ; 
}
Button.btn_Top_rightS, Button.btn_Top_rightS:mouseover, Button.btn_Top_rightS:pushed
{
	background		: transparent URL('theme://images/btn_Top_rightS.png') center middle;
}

Button.btn_Top_right:disable, Button.btn_Top_rightS:disable
{
	opacity			: 50%;
}

Button.btn_Top_menu, Button.btn_Top_menu:mouseover, Button.btn_Top_menu:pushed,  Button.btn_Top_menu:disable
{
	background		: transparent URL('theme://images/btn_Top_menu.png') center middle;
	border			: 0 none ;
	bordertype		: normal ; 
}

Button.btn_Top_menu:disable
{
	opacity			: 50%;
}

Button.btn_Top_search, Button.btn_Top_search:mouseover, Button.btn_Top_search:pushed,  Button.btn_Top_search:disable
{
	background		: transparent URL('theme://images/btn_Top_search.png') center middle;
	border			: 0 none ;
	bordertype		: normal ; 
}
Button.btn_Top_search:disable
{
	opacity			: 50%;
}

Button.btn_Top_back, Button.btn_Top_back:mouseover, Button.btn_Top_back:pushed, Button.btn_Top_back:disable
{
	background		: transparent URL('theme://images/btn_Top_back.png') center middle;
	border			: 0 none ;
	bordertype		: normal ; 
}
Button.btn_Top_back:disable
{
	opacity			: 50%;
}

Button.btn_Top_home, Button.btn_Top_home:mouseover, Button.btn_Top_home:pushed, Button.btn_Top_home:disable
{
	background		: transparent URL('theme://images/btn_Top_home.png') center middle;
	border			: 0 none ;
	bordertype		: normal ; 
}

Button.btn_Top_home:disable
{
	opacity			: 50%;
}

Button.btn_Top_logout
{
	background		: #323232 URL('theme://images/img_Top_logoutN.png') center middle ;
	border			: 1 solid #000000 ;
	bordertype		: normal;
}

Button.btn_Top_logout:mouseover, Button.btn_Top_logout:pushed
{
	background		: #555555 URL('theme://images/img_Top_logoutN.png') center middle ;
	border			: 1 solid #000000 ;
	bordertype		: normal;
}

Button.btn_LF_logout, Button.btn_LF_logout:mouseover
{
	background		: #28314f ;
	border			: 0 none;
	bordertype		: round 4 4;
	color			: #ffa31f;
	font			: antialias bold 14 Dotum;	
}

Button.btn_LF_logout:pushed
{
	background		: #080d16 ;
	color			: #bab7b1;
	font			: antialias bold 14 Dotum;	
}

Button.btn_LF_logout:disable
{
    	background		: #28314f ;
	color			: #bab7b1;
	font			: antialias bold 14 Dotum;
        opacity 		: 50;
}

Button.btn_LF_close, Button.btn_LF_close:mouseover, Button.btn_LF_close:pushed
{
	background			: #262a35 URL('theme://images/btn_LF_closeN.png') center middle;
	border				: 0 none;
	bordertype			: normal;
}

Button.btn_LF_close:disable
{
	opacity				: 50%;
}

Button.btn_LF_save, Button.btn_LF_save:mouseover
{
	background			: #476cb5;
	border				: 0 none;
	bordertype			: round 4 4;
	color				: #f0f1f2;
	cursor				: hand;
	font				: antialias bold 22 Dotum;
}

Button.btn_LF_save:pushed
{
	background			: #2f549d;
	color				: #ffffff;
	font				: antialias bold 22 Dotum;	
}

Button.btn_LF_save:disable
{
	opacity				: 50%;
}

Button.btn_WF_Search, Button.btn_WF_Search:selected
{
	align				: center middle;
	background			: #fa9284;
	border				: 0 none;
	bordertype			: round 3 3;
	color				: #333333;
	cursor				: hand;
	font				: antialias bold 26 Dotum;
	image				: URL('theme://images/btn_WF_search.png');
	imagealign			: center middle;
}
Button.btn_WF_Search:mouseover, Button.btn_WF_Search:focused
{
	background			: #fa9284;
	border				: 0 none;
	font				: antialias bold 26 Dotum;
	image				: URL('theme://images/btn_WF_search.png');
}
Button.btn_WF_Search:pushed
{
	border				: 0 none;
	font				: antialias bold 26 Dotum;
	image				: URL('theme://images/btn_WF_search.png');
	padding				: 1 0 -1 0;
}   
Button.btn_WF_Search:disabled
{
	background			: #eeeeee;
	border				: 0 none;
	color				: #909090;
	image				: URL('theme://images/btn_WF_search.png');
}

Button.btn_WF_more, Button.btn_WF_more:selected
{
	align				: center middle;
	background			: #66707e;
	border				: 0 none;
	bordertype			: round 3 3;
	color				: #ffffff;
	cursor				: hand;
	font				: antialias bold 26 Dotum;
	image				: URL('theme://images/btn_WF_more.png');
	imagealign			: center middle;
}
Button.btn_WF_more:mouseover, Button.btn_WF_more:focused
{
	background			: #66707e;
	color				: #ffffff;
	border				: 0 none;
	font				: antialias bold 26 Dotum;
	image				: URL('theme://images/btn_WF_more.png');
}
Button.btn_WF_more:pushed
{
	background			: #4a525d;
	color				: #ffffff;
	border				: 0 none;
	font				: antialias bold 26 Dotum;
	image				: URL('theme://images/btn_WF_more.png');
	padding				: 1 0 -1 0;
}   
Button.btn_WF_more:disabled
{
	background			: #eeeeee;
	border				: 0 none;
	color				: #777777;
	image				: URL('theme://images/btn_WF_moreD.png');
}

Button.btn_WF_next, Button.btn_WF_next:selected
{
	align				: center middle;
	background			: #66707e;
	border				: 0 none;
	bordertype			: round 3 3;
	color				: #ffffff;
	cursor				: hand;
	font				: antialias bold 26 Dotum;
	image				: URL('theme://images/btn_WF_next.png');
	imagealign			: center middle;
}
Button.btn_WF_next:mouseover, Button.btn_WF_next:focused
{
	background			: #66707e;
	color				: #ffffff;
	border				: 0 none;
	font				: antialias bold 26 Dotum;
	image				: URL('theme://images/btn_WF_next.png');
}
Button.btn_WF_next:pushed
{
	background			: #4a525d;
	color				: #ffffff;
	border				: 0 none;
	font				: antialias bold 26 Dotum;
	image				: URL('theme://images/btn_WF_next.png');
	padding				: 1 0 -1 0;
}   
Button.btn_WF_next:disabled
{
	background			: #eeeeee;
	border				: 0 none;
	color				: #777777;
	image				: URL('theme://images/btn_WF_nextD.png');
}

Button.btn_WF_Month, Button.btn_WF_Month:mouseover, Button.btn_WF_Month:pushed, Button.btn_WF_Month:focused, 
Button.btn_WF_Month:selected, Button.btn_WF_Month:disable
{
	background		: transparent;
	border			: 0 none;
	bordertype		: round 3 3;			
}
Button.btn_WF_Month:pushed
{
	background		: #f1f1f1;
}

Button.btn_WF_Month:focused, Button.btn_WF_Month:selected
{
	background		: #fa7869;
	color			: #ffffff;
}

Button.btn_WF_Month:disable
{
	color			: #888888;
}

Button.btn_WF_MonthS, Button.btn_WF_MonthS:mouseover, Button.btn_WF_MonthS:pushed, Button.btn_WF_MonthS:focused, 
Button.btn_WF_MonthS:selected, Button.btn_WF_MonthS:disable
{
	background		: #fa7869;
	color			: #ffffff;
	border			: 0 none;
	bordertype		: normal;			
}

Button.btn_WF_top, Button.btn_WF_top:selected
{
	align				: center middle;
	background			: transparent;
	border				: 0 none;
	bordertype			: round 3 3;
	cursor				: hand;
	font				: antialias bold 26 Dotum;
	image				: URL('theme://images/btn_WF_top.png');
	imagealign			: center middle;
}
Button.btn_WF_top:mouseover, Button.btn_WF_top:focused
{
	background			: transparent;
	border				: 0 none;
	font				: antialias bold 26 Dotum;
	image				: URL('theme://images/btn_WF_top.png');
}
Button.btn_WF_top:pushed
{
	background			: transparent;
	border				: 0 none;
	font				: antialias bold 26 Dotum;
	image				: URL('theme://images/btn_WF_topP.png');
	padding				: 1 0 -1 0;
}   
Button.btn_WF_top:disabled
{
	background			: transparent;
	border				: 0 none;
	image				: URL('theme://images/btn_WF_top.png');
	opacity				: 50%;
}

Button.btn_WF_cal, Button.btn_WF_cal:mouseover
{
	align				: center middle;
	background                      : #ffffff;
	border                          : 1 solid #cdd2d7;
	bordertype                      : round 2 2;
	cursor				: hand;
	font				: antialias bold 26 Dotum;
	image				: URL('theme://images/btn_cal_dropN.png');
	imagealign			: center middle;
}
Button.btn_WF_cal:pushed, Button.btn_WF_cal:selected
{
	background                      : #e4e7eb;
	border                          : 1 solid #cdd2d7;
	bordertype                      : round 2 2;
	image				: URL('theme://images/btn_cal_dropN.png');
}
Button.btn_WF_cal:pushed
{
	image				: URL('theme://images/btn_cal_dropN.png');
	opacity                         : 50;
}   
Button.btn_WF_cal:disabled
{
	image				: URL('theme://images/btn_cal_dropN.png');
	opacity				: 50%;
}

Button.btn_WF_pop, Button.btn_WF_pop:mouseover, Button.btn_WF_pop:focused
{
	align				: center middle;
	background                      : #ffffff;
	border                          : 1 solid #cdd2d7;
	bordertype                      : round 2 2;
	cursor				: hand;
	font				: antialias bold 26 Dotum;
	image				: URL('theme://images/btn_WF_popN.png');
	imagealign			: center middle;
}
Button.btn_WF_pop:selected, Button.btn_WF_pop:pushed
{
	background                      : #e4e7eb;
	border                          : 1 solid #cdd2d7;
	bordertype                      : round 2 2;
	image				: URL('theme://images/btn_WF_popN.png');
}   
Button.btn_WF_pop:disabled
{
	opacity				: 50%;
}

Button.btn_pop_close, Button.btn_pop_close:mouseover, Button.btn_pop_close:pushed, Button.btn_pop_close:disable
{
	background		: transparent URL('theme://images/btn_pop_close.png') center middle ;
	border			: 0 none;	
}

Button.btn_pop_confirm, Button.btn_pop_confirm:mouseover, Button.btn_pop_confirm:pushed, Button.btn_pop_confirm:disable
{
	background		: #66707e;
	color			: #ffffff;
	border			: 0 none;
	font			: antialias bold 24 Dotum ;
}
Button.btn_pop_confirm:pushed
{
	background		: #d7d7d7;
}
Button.btn_pop_confirm:disable
{
	background		: #eeeeee;
}

Button.btn_pop_cancel, Button.btn_pop_cancel:mouseover, Button.btn_pop_cancel:pushed, Button.btn_pop_cancel:disable
{
	font			: antialias bold 24 Dotum ;
}

Button.btn_pop_cancel:pushed
{
	background		: #d7d7d7;
}
Button.btn_pop_cancel:disable
{
	background		: #eeeeee;
}

Button.btn_login, Button.btn_login:mouseover, Button.btn_login:pushed,  Button.btn_login:focused,  Button.btn_login:disable
{
	background		: #476cb5;
	border			: 0 none;
	bordertype		: round 4 4;
	color			: #ffffff;
	font			: antialias bold 28 arial;
}

Button.btn_login:disable
{
	opacity			: 30%;
}

Button.btn_login_pwSearch, Button.btn_login_pwSearch:mouseover, Button.btn_login_pwSearch:pushed
{
	background		: transparent ;
	border			: 0 none;
	color			: #ffffff;
	align			: center middle;
	font			: underline antialias bold 20 arial ;
}

Button.btn_CM_notice, Button.btn_CM_notice:mouseover, Button.btn_CM_notice:pushed, Button.btn_CM_notice:disable
{
	background		: transparent URL('theme://images/img_main_bg1.png') center middle;
	border			: 0 none;
	bordertype		: normal;
}
Button.btn_CM_as, Button.btn_CM_notice:mouseover, Button.btn_CM_notice:pushed, Button.btn_CM_notice:disable
{
	background		: transparent URL('theme://images/img_main_bg2.png') center middle;
	border			: 0 none;
	bordertype		: normal;
}

Button.btn_CM_data, Button.btn_CM_data:mouseover, Button.btn_CM_data:pushed, Button.btn_CM_data:disable
{
	background		: transparent URL('theme://images/img_main_bg3.png') center middle;
	border			: 0 none;
	bordertype		: normal;
}

Button.btn_CM_news, Button.btn_CM_news:mouseover, Button.btn_CM_news:pushed, Button.btn_CM_news:disable
{
	background		: transparent URL('theme://images/img_main_bg4.png') center middle;
	border			: 0 none;
	bordertype		: normal;
}

Button.btn_LM_menu1, Button.btn_LM_menu1:mouseover, Button.btn_LM_menu1:pushed, Button.btn_LM_menu1:disable,
Button.btn_LM_menu2, Button.btn_LM_menu2:mouseover, Button.btn_LM_menu2:pushed, Button.btn_LM_menu2:disable,
Button.btn_LM_menu3, Button.btn_LM_menu3:mouseover, Button.btn_LM_menu3:pushed, Button.btn_LM_menu3:disable,
Button.btn_LM_menu4, Button.btn_LM_menu4:mouseover, Button.btn_LM_menu4:pushed, Button.btn_LM_menu4:disable,
Button.btn_LM_menu5, Button.btn_LM_menu5:mouseover, Button.btn_LM_menu5:pushed, Button.btn_LM_menu5:disable,
Button.btn_LM_menu6, Button.btn_LM_menu6:mouseover, Button.btn_LM_menu6:pushed, Button.btn_LM_menu6:disable,
Button.btn_LM_menu7, Button.btn_LM_menu7:mouseover, Button.btn_LM_menu7:pushed, Button.btn_LM_menu7:disable
{
	background		: #f1f9fd URL('theme://images/img_LM_D1arrow.png') right middle;
	align			: left middle;
	image			: URL('theme://images/img_LM_logistics.png');
	imagepadding		: 0 0 0 0;
	imagealign		: left middle;
	padding		: 0 0 0 50;
	border			: 1 solid #828584, 0 none, 1 solid #828584, 0 none;
	bordertype		: normal ; 
	font			: antialias bold 28 Dotum; 
}
Button.btn_LM_menu2, Button.btn_LM_menu2:mouseover, Button.btn_LM_menu2:pushed, Button.btn_LM_menu2:disable
{
	background		: #ffffff URL('theme://images/img_LM_D1arrow.png') right middle;
	image			: URL('theme://images/img_LM_taste.png') ;
}

Button.btn_LM_menu3, Button.btn_LM_menu3:mouseover, Button.btn_LM_menu3:pushed, Button.btn_LM_menu3:disable
{
	image			: URL('theme://images/img_LM_kitchen.png') ;
}

Button.btn_LM_menu4, Button.btn_LM_menu4:mouseover, Button.btn_LM_menu4:pushed, Button.btn_LM_menu4:disable
{
	background		: #ffffff URL('theme://images/img_LM_D1arrow.png') right middle;
	image			: URL('theme://images/img_LM_service.png') ;
}

Button.btn_LM_menu5, Button.btn_LM_menu5:mouseover, Button.btn_LM_menu5:pushed, Button.btn_LM_menu5:disable
{
	image			: URL('theme://images/img_LM_safety.png') ;
}

Button.btn_LM_menu6, Button.btn_LM_menu6:mouseover, Button.btn_LM_menu6:pushed, Button.btn_LM_menu6:disable
{
	background		: #ffffff URL('theme://images/img_LM_D1arrow.png') right middle;
	image			: URL('theme://images/img_LM_business.png') ;
}

Button.btn_LM_menu6, Button.btn_LM_menu6:mouseover, Button.btn_LM_menu6:pushed, Button.btn_LM_menu6:disable
{
	image			: URL('theme://images/img_LM_business.png') ;
}

Button.btn_LM_menu7, Button.btn_LM_menu7:mouseover, Button.btn_LM_menu7:pushed, Button.btn_LM_menu7:disable
{
	image			: URL('theme://images/img_LM_information.png') ;
}

Button.btn_LM_menu1:pushed, Button.btn_LM_menu2:pushed, Button.btn_LM_menu3:pushed,
Button.btn_LM_menu4:pushed, Button.btn_LM_menu5:pushed, Button.btn_LM_menu6:pushed, Button.btn_LM_menu7:pushed
{
	background		: #e2e2e2 URL('theme://images/img_LM_D1arrow.png') right middle;
}

Button.btn_LM_menu1:disable, Button.btn_LM_menu2:disable, Button.btn_LM_menu3:disable,
Button.btn_LM_menu4:disable, Button.btn_LM_menu5:disable, Button.btn_LM_menu6:disable, Button.btn_LM_menu7:disable
{
	background		: #ececec URL('theme://images/img_LM_D1arrow.png') right middle;
	opacity			: 50%;
}

Button.btn_Rm_tab, Button.btn_Rm_tab:mouseover, Button.btn_Rm_tab:pushed, Button.btn_Rm_tab:disable
{
	background 		: #f5f7fa;
	border			: 1 solid #bfbfbf;
	bordertype		: norma 0 0 ;
	color			: #666666;
}

Button.btn_Rm_tab:disable
{
	opacity			: 50%;
}
Button.btn_Rm_tabS, Button.btn_Rm_tabS:mouseover, Button.btn_Rm_tabS:pushed
{
	background 	: #ffffff;
	border			: 5 solid #fa9284, 1 solid #bfbfbf, 1 solid #ffffff,  1 solid #bfbfbf;
	bordertype		: norma 0 0 ;
}
Button.btn_Rm_tabNext, Button.btn_Rm_tabNext:mouseover, Button.btn_Rm_tabNext:pushed, Button.btn_Rm_tabNext:disable
{
	background 	: #f5f7fa URL('theme://images/btn_Rm_tabNext_N.png') center middle;
	border			: 0 none;
	bordertype		: norma 0 0 ;
}

Button.btn_Rm_tabNext:disable
{
	background 	: #f5f7fa URL('theme://images/btn_Rm_tabNext_D.png') center middle;
}

Button.btn_Rm_tabPrev, Button.btn_Rm_tabPrev:mouseover, Button.btn_Rm_tabPrev:pushed, Button.btn_Rm_tabPrev:disable
{
	background 	: #f5f7fa URL('theme://images/btn_Rm_tabPrev_N.png') center middle;
	border			: 0 none;
	bordertype		: norma 0 0 ;
}

Button.btn_Rm_tabPrev:disable
{
 	background 	: #f5f7fa URL('theme://images/btn_Rm_tabPrev_D.png') center middle;
}

Button.btn_RM_naviTab, Button.btn_RM_naviTab:mouseover, Button.btn_RM_naviTab:pushed, Button.btn_RM_naviTab:disable
{
	background		: transparent URL('theme://images/btn_RM_naviTab.png') stretch 40,40 ;
	border			: 0 none;
	bordertype		: normal;
	color			: #444444;
	font			: antialias bold 28 Dotum; 
}

Button.btn_RM_naviTab:pushed
{
	background		: transparent URL('theme://images/btn_RM_naviTabS.png') stretch 40,40;
	color			: #ffffff;
}
Button.btn_RM_naviTab:disable
{
	opacity			:50%;
}


Button.btn_RM_naviTabS, Button.btn_RM_naviTabS:mouseover, Button.btn_RM_naviTabS:pushed, Button.btn_RM_naviTabS:disable
{
	background		: transparent URL('theme://images/btn_RM_naviTabS.png') stretch 40,40 ;
	border			: 0 none;
	bordertype		: normal;
	color			: #ffffff;
	font			: antialias bold 28 Dotum;
}
Button.btn_RM_naviTabS:disable
{
	opacity			:50%;
}

Button.btn_RM_alignlist, Button.btn_RM_alignlist:mouseover, Button.btn_RM_alignlist:pushed, Button.btn_RM_alignlist:disable
{
	background		: transparent URL('theme://images/btn_RM_alignList_N.png') ;
	border			: 0 none;
	bordertype		: normal;
}
Button.btn_RM_alignlist:disable
{
	opacity			: 50%;
}

Button.btn_RM_alignlistS, Button.btn_RM_alignlistS:mouseover, Button.btn_RM_alignlistS:pushed
{
	background		: transparent URL('theme://images/btn_RM_alignList_S.png') ;
	border			: 0 none;
	bordertype		: normal;
}

Button.btn_RM_alignHorz, Button.btn_RM_alignHorz:mouseover, Button.btn_RM_alignHorz:pushed, Button.btn_RM_alignHorz:disable
{
	background		: transparent URL('theme://images/btn_RM_alignHorz_N.png');
	border			: 0 none;
	bordertype		: normal;
}

Button.btn_RM_alignHorz:disable
{
	opacity			: 50%;
}

Button.btn_RM_alignHorzS, Button.btn_RM_alignHorzS:mouseover, Button.btn_RM_alignHorzS:pushed
{
	background		: transparent URL('theme://images/btn_RM_alignHorz_S.png');
	border			: 0 none;
	bordertype		: normal;
}

Button.btn_RM_alignVert, Button.btn_RM_alignVert:mouseover, Button.btn_RM_alignVert:pushed, Button.btn_RM_alignVert:disable
{
	background		: transparent URL('theme://images/btn_RM_alignVert_N.png');
	border			: 0 none;
	bordertype		: normal;
}
Button.btn_RM_alignVert:disable
{
	opacity			: 50%;
}

Button.btn_RM_alignVertS, Button.btn_RM_alignVertS:mouseover, Button.btn_RM_alignVertS:pushed
{
	background		: transparent URL('theme://images/btn_RM_alignVert_S.png');
	border			: 0 none;
	bordertype		: normal;
}

Button.btn_RM_minus
{
	background		: #ffffff URL('theme://images/btn_RM_minus.png') center middle;
	border			: 1 solid #777777;
	bordertype		: round 30 30 lefttop leftbottom;	
}

Button.btn_RM_plus
{
	background		: #ffffff URL('theme://images/btn_RM_plus.png') center middle;
	border			: 1 solid #777777;
	bordertype		: round 30 30 righttop rightbottom;	
}

Button.btn_RM_cartAll, Button.btn_RM_cartAll:mouseover, Button.btn_RM_cartAll:disable
{
	background		: #171717;
	border			: 0 none;
	bordertype		: normal;
	color			: #ffffff;
	font			: antialias bold 28 Dotum  ; 
}

Button.btn_RM_cartAll:selected, Button.btn_RM_cartAll:pushed
{
	background		: #000000;
	border			: 0 none;
	bordertype		: normal;
	color			: #ffffff;
	font			: antialias bold 28 Dotum  ; 
}

Button.btn_RM_cartMove, Button.btn_RM_cartMove:mouseover, Button.btn_RM_cartMove:pushed, Button.btn_RM_cartAll:disable
{
	background		: #b5bdc8;
	border			: 0 none;
	bordertype		: normal;
	color			: #ffffff;
	font			: antialias bold 28 Dotum  ; 
}

Button.btn_RM_cartAll:disable, Button.btn_RM_cartAll:disable
{
	background		: #eeeeee;
	color			: #777777;
} 

Button.btn_RM_general, Button.btn_RM_general:mouseover, Button.btn_RM_general:pushed, Button.btn_RM_general:disable
{
	background		: #b5bdc8;
	border			: 0 none;
	bordertype		: round 6 6;
	color			: #ffffff;
	font			: antialias bold 28 Dotum  ; 
}

Button.btn_RM_general:disable
{
	background		: #eeeeee;
	color			: #777777;
}

Button.btn_RM_detail
{
	background		: transparent URL('theme://images/btn_RM_detailN.png');
	border			: 0 none;
	bordertype		: normal;
}
Button.btn_RM_detailP:pushed
{
	background		: transparent URL('theme://images/btn_RM_detailP.png');
}

Button.btn_RM_favorite
{
	background		: transparent URL('theme://images/btn_RM_favoriteN.png');
	border			: 0 none;
	bordertype		: normal;
}
Button.btn_RM_favoriteP:pushed
{
	background		: transparent URL('theme://images/btn_RM_favoriteP.png');
}

Button.btn_RM_cart
{
	background		: transparent URL('theme://images/btn_RM_cart.png');
	border			: 0 none;
	bordertype		: normal;
}

Button.btn_cal_monthNext, Button.btn_cal_monthNext:mouseover, Button.btn_cal_monthNext:pushed
{
	background		: transparent URL('theme://images/btn_cal_nextN.png') center middle;
	border			: 0 none;
	bordertype		: normal;
}

Button.btn_cal_monthNext:disabled
{
	opacity 		: 50%;
}

Button.btn_cal_monthPrev, Button.btn_cal_monthPrev:mouseover, Button.btn_cal_monthPrev:pushed
{
	background		: transparent URL('theme://images/btn_cal_prevN.png') center middle;
	border			: 0 none;
	bordertype		: normal;
}

Button.btn_cal_monthPrev:disabled
{
	opacity 		: 50%;
}


/* Calendar */
Calendar
{
	background 		: #ffffff;
	border			: 1 solid #cdd2d7;
	bordertype		: round 2 2;
	buttonsize		: 60;
	color			: #444444;
	daybackground		: transparent;
	dayborder		: 0 none;
	daybordertype		: normal 0 0;
	daycolor				: #444444;
	dayfont					: antialias 22 Dotum; 
	daysize					: 84 84;
	font					: antialias 22 Dotum; 
	popupbackground 		: transparent URL('theme://images/img_cal_monthbg.png');
	popupborder			: 0 none;
	popupbordertype			: normal 0 0;
	popupsize			: 589 697;
	selectbackground		: #777777;
	selectcolor			: #ffffff;
	padding				: 0 0 0 0;
}
Calendar:pushed, Calendar:selected
{
	daybackground	: URL('theme://images/img_cal_dayS.png');
	dayborder		: 0 none;
	daycolor		: #ffffff;
}

Calendar:disabled
{
	background		: #f0f0f0;
	border			: 1 solid #c9c9c9;
	color			: #777777;
}
Calendar:readonly
{
	background		: #f8f8f8;
	border			: 1 solid #c9c9c9;
}
Calendar>#calendaredit, Calendar>#calendaredit:mouseover, Calendar>#calendaredit:focused,
Calendar>#calendaredit:disabled
{
	align			: left middle;
	background		: transparent;
	border			: 0 none;
	bordertype		: round 4 4;
	color			: #444444;
	font			: bold antialias 15 Dotum; 
	padding			: 0 0 0 5;
}
Calendar>#calendaredit:disabled
{
	color			: #777777;
}
Calendar>#dropbutton, Calendar>#dropbutton:mouseover, Calendar>#dropbutton:pushed,
Calendar>#dropbutton:focused, Calendar>#dropbutton:selected, Calendar>#dropbutton:disabled
{
	background		: transparent;
	border			: 0 none;
	bordertype		: normal 0 0;
	image			: URL('theme://images/btn_cal_dropN.png');
	padding			: 0 0 0 0;
}
Calendar>#dropbutton:disabled
{
	opacity			: 50%;
}
Calendar>#spinupbutton, Calendar>#spinupbutton:mouseover, Calendar>#spinupbutton:pushed,
Calendar>#spinupbutton:focused, Calendar>#spinupbutton:selected, Calendar>#spinupbutton:disabled
{
	background		: transparent;
	border			: 0 none;
	bordertype		: normal 0 0;
	image			: ;
	imagealign		: center middle;
	margin			: 2 0 -2 0;
}
Calendar>#spinupbutton:mouseover, Calendar>#spinupbutton:pushed
{
	image			: ;
}
Calendar>#spinupbutton:disabled
{
	image			: ;
}
Calendar>#spindownbutton, Calendar>#spindownbutton:mouseover, Calendar>#spindownbutton:pushed,
Calendar>#spindownbutton:focused, Calendar>#spindownbutton:selected, Calendar>#spindownbutton:disabled
{
	background		: transparent;
	border			: 0 none;
	bordertype		: normal 0 0;
	image			: ;
	imagealign		: center middle;
	margin			: -2 0 2 0 ;
}
Calendar>#spindownbutton:mouseover, Calendar>#spindownbutton:pushed
{
	image			: ;
}
Calendar>#spindownbutton:disabled
{
	image			: ;
}
Calendar>#popupcalendar, Calendar>#popupcalendar:mouseover, Calendar>#popupcalendar:pushed
{
	bodybackground	: transpraent;
	bodyborder			: 0 none;
	bodybordertype		: normal 0 0;
	border				: 0 none;
	bordertype			: normal 0 0;
	color				: #444444;
	cursor				: hand;
	font				: antialias 22 Dotum; 
	headerformat		: yyyy.MM;
	headerheight		: 99;
	headercolor			: #ffffff;
	headerbackground	: transparent;
	headerborder		: 0 none;
	headerbordertype	: normal 0 0;
	headerfont			: antialias bold 34 Dotum ; 
	ncpadding			: 100 0 0 0;
	daycolor			: #444444;
	saturdaybackground	: transpraent;
	saturdayborder		: 0 none;
	saturdaybordertype	: normal 0 0;
	saturdayfont			: ;
	saturdaycolor	 		: #3b4873;
	sundaybackground		: transpraent;
	sundayborder			: 0 none;
	sundaybordertype		: normal 0 0;
	sundaycolor			: #ca3e26;
	sundayfont				: ;
	todaycolor				: #ffffff;
	todaybackground		: URL('theme://images/img_cal_dayT.png');
	todayborder				: 0 none;
	todaybordertype			: normal 0 0;
	todayfont				: antialias bold 24 Dotum ; 
	trailingdaycolor			: #d4d4d4;
	usetrailingday			: true;
	weekformat				: 일 월 화 수 목 금 토;
	weekcolor				: #444444;
	weekbackground		: #fbfbfb;
	weekfont				: antialias 24 Dotum ; 
	margin					: 0 0 0 0;
}

Calendar>#popupcalendar>#prevbutton, Calendar>#popupcalendar>#prevbutton:mouseover, Calendar>#popupcalendar>#prevbutton:pushed,
Calendar>#popupcalendar>#prevbutton:focused, Calendar>#popupcalendar>#prevbutton:selected, Calendar>#popupcalendar>#prevbutton:disabled
{
	background		: transparent;
	border			: 0 none;
	bordertype		: normal 0 0;
	image			: URL('theme://images/btn_cal_prevN.png');
	imagealign		: center middle;
}

Calendar>#popupcalendar>#prevbutton:disabled
{
	opacity			: 50%;
}

Calendar>#popupcalendar>#nextbutton, Calendar>#popupcalendar>#nextbutton:mouseover, Calendar>#popupcalendar>#nextbutton:pushed,
Calendar>#popupcalendar>#nextbutton:focused, Calendar>#popupcalendar>#nextbutton:selected, Calendar>#popupcalendar>#nextbutton:disabled
{
	background		: transparent;
	border			: 0 none;
	bordertype		: normal 0 0;
	image			: URL('theme://images/btn_cal_nextN.png');
	imagealign		: center middle;
}


Calendar>#popupcalendar>#nextbutton:disabled
{
	opacity			: 50%;
}

Calendar>#popupcalendar>#yearspin, Calendar>#popupcalendar>#yearspin:mouseover, Calendar>#popupcalendar>#yearspin:pushed,
Calendar>#popupcalendar>#yearspin:focused, Calendar>#popupcalendar>#yearspin:disabled,
Calendar>#popupcalendar>#monthspin, Calendar>#popupcalendar>#monthspin:mouseover, Calendar>#popupcalendar>#monthspin:pushed,
Calendar>#popupcalendar>#monthspin:focused, Calendar>#popupcalendar>#monthspin:disabled
{
	align			: center middle;
	background		: transparent;
	border			: 1 solid #ffffff;
	bordertype		: round 5 5;
	buttonsize		: 0;
	color			: #ffffff;
	font			: antialias 28 Dotum; 
	padding			: 0 0 0 0;
}
Calendar>#popupcalendar>#yearspin>#spinedit, Calendar>#popupcalendar>#yearspin>#spinedit:mouseover,
Calendar>#popupcalendar>#yearspin>#spinedit:focused, Calendar>#popupcalendar>#yearspin>#spinedit:disabled,
Calendar>#popupcalendar>#monthspin>#spinedit, Calendar>#popupcalendar>#monthspin>#spinedit:mouseover,
Calendar>#popupcalendar>#monthspin>#spinedit:focused, Calendar>#popupcalendar>#monthspin>#spinedit:disabled
{
	align			: center middle;
	background		: transparent;
	border			: 0 none;
	bordertype		: round 5 5;
	buttonsize		: 0;
	color			: #ffffff;
	font			: antialias 28 Dotum; 
	padding			: 0 0 0 0;
}

Calendar>#popupcalendar>#yearspin>#spinupbutton, Calendar>#popupcalendar>#yearspin>#spinupbutton:mouseover,
Calendar>#popupcalendar>#yearspin>#spinupbutton:pushed, Calendar>#popupcalendar>#yearspin>#spinupbutton:focused,
Calendar>#popupcalendar>#yearspin>#spinupbutton:selected, Calendar>#popupcalendar>#yearspin>#spinupbutton:disabled,
Calendar>#popupcalendar>#monthspin>#spinupbutton, Calendar>#popupcalendar>#monthspin>#spinupbutton:mouseover,
Calendar>#popupcalendar>#monthspin>#spinupbutton:pushed, Calendar>#popupcalendar>#monthspin>#spinupbutton:focused,
Calendar>#popupcalendar>#monthspin>#spinupbutton:selected, Calendar>#popupcalendar>#monthspin>#spinupbutton:disabled
{
	background		: transparent;
	border			: 0 none;
	bordertype		: normal 0 0;
	image			: ;
	imagealign		: center middle;
	margin			: 0 0 0 0 ;
}

Calendar>#popupcalendar>#yearspin>#spinupbutton:disabled,
Calendar>#popupcalendar>#monthspin>#spinupbutton:disabled
{
	opacity			: 50%;
}

Calendar>#popupcalendar>#yearspin>#spindownbutton, Calendar>#popupcalendar>#yearspin>#spindownbutton:mouseover,
Calendar>#popupcalendar>#yearspin>#spindownbutton:pushed, Calendar>#popupcalendar>#yearspin>#spindownbutton:focused,
Calendar>#popupcalendar>#yearspin>#spindownbutton:selected, Calendar>#popupcalendar>#yearspin>#spindownbutton:disabled,
Calendar>#popupcalendar>#monthspin>#spindownbutton, Calendar>#popupcalendar>#monthspin>#spindownbutton:mouseover,
Calendar>#popupcalendar>#monthspin>#spindownbutton:pushed, Calendar>#popupcalendar>#monthspin>#spindownbutton:focused,
Calendar>#popupcalendar>#monthspin>#spindownbutton:selected, Calendar>#popupcalendar>#monthspin>#spindownbutton:disabled
{
	background		: transparent;
	border			: 0 none;
	bordertype		: normal 0 0;
	image			: ;
	imagealign		: center middle;
	margin			: 0 0 0 0;
}


Calendar>#popupcalendar>#yearspin>#spindownbutton:disabled,
Calendar>#popupcalendar>#monthspin>#spindownbutton:disabled
{
	opacity			: 50%;
}

Calendar.essential,Calendar.essential:mouseover
{
	background		: #ffffff URL('theme://images/img_required.png') left top ;
	border			: 1 solid #fa7869;
	padding		: 0 0 0 5;	
}

Calendar.cal_WF_month, Calendar.cal_WF_month:mouseover, Calendar.cal_WF_month:pushed, Calendar.cal_WF_month:disable
{
	align			: center middle;
	background		: transparent;
	border			: 0 none;
	bordertype		: normal;
	buttonsize		: 0 ;
	color			: #ffffff;
	font			: antialias bold 34 Dotum ; 
	padding			: 0 -1 0 0;

}

Calendar.cal_WF_month:readonly
{
	background		: #ffffff;
	border			: 1 solid #c3c3c3;
}

Calendar.cal_WF_month>#calendaredit, Calendar.cal_WF_month>#calendaredit:mouseover, Calendar.cal_WF_month>#calendaredit:focused,
Calendar.cal_WF_month>#calendaredit:disabled
{
	align			: center middle;
	background		: transparent;
	border			: 0 none;
	bordertype		: round 2 2;
	color			: #ffffff
	font			: antialias bold 34 Dotum ; 
	padding			: 0 0 0 0;
}

/* CheckBox */
CheckBox,CheckBox:mouseover, CheckBox:pushed
{
	align			: left middle;
	background		: transparent;
	border			: 0 none;
	bordertype		: normal 0 0;
	buttonalign		: left middle;
	buttonbackground	: URL('theme://images/img_check_bgN.png');
	buttonborder		: 0 none;
	buttonimage		: URL('theme://images/img_check.png');
	buttonsize		: 46;
	color			: #444444;
	font			: antialias 22 Dotum; 
	textpadding		: 0 0 0 20;
}

CheckBox:disabled
{
	buttonimage		: URL('theme://images/img_checkD.png');
	opacity				: 50%;
}
CheckBox:readonly
{
	buttonbackground	: URL('theme://images/img_check_bgN.png');
	buttonimage		: URL('theme://images/img_Check.png');
}

CheckBox.check_login, CheckBox.check_login:mouseover, CheckBox.check_login:pushed, CheckBox.check_login:disable
{
	buttonbackground		: #666a6e;
	buttonborder			: 0 none;
	buttonbordertype		: round 2 2;
	color				: #62656d;
	font				: antialias 20 Dotum;
	buttonimage			: URL('theme://images/img_login_check.png');
	buttonsize			: 46;
	textpadding			: 0 0 0 15;
}

CheckBox.check_login:disable
{
	opacity				: 50%;
}

/* Combo */
Combo
{	
	align			: left middle;
	background		: #ffffff;
	border			: 1 solid #777777;
	bordertype		: round 4 4;
	buttonsize		: 52;
	color			: #444444;
	font			: antialias 22 Dotum; 
	itembackground		: #ffffff;
	itemborder		: 0 none, 0 none, 1 solid #ebebeb, 0 none;
	itembordertype		: normal 0 0;
	itemcolor		: #444444;
	itemheight		: 65;
	itempadding		: 0 10 0 10;
	padding			: 0 0 0 10;
}

Combo:disabled
{
	background		: #f0f0f0;
	border			: 1 solid #c9c9c9;
	color			: #777777;
}

Combo:readonly
{
	background		: #f8f8f8;
	border			: 1 solid #c9c9c9;
}

Combo>#comboedit
{
	align			: left middle;
	background		: transparent;
	border			: 0 none;
	bordertype		: round 4 4
	color			: #444444;
	font			: antialias 22 Dotum; 
	padding			: 1 3 0 3;
	selectbackground	: #777777;
	selectcolor			: #ffffff;
}
Combo>#comboedit:disabled
{
	background		: #f0f0f0;
	color			: #777777;
}
Combo>#dropbutton, Combo>#dropbutton:focused, Combo>#dropbutton:mouseover, Combo>#dropbutton:pushed
{
	background		: transparent;
	border			: 0 none;
	bordertype		: normal 0 0;
	imagealign		: center middle;
	image			: URL('theme://images/cmb_WF_dropN.png');
}

Combo>#dropbutton:disabled
{
	opacity			: 50%;
}
Combo>#combolist
{
	align			: left middle;
	background		: #ffffff;
	border			: 1 solid #b2b2b2;
	bordertype		: normal 0 0;
	color			: #444444;
	font			: antialias 22 Dotum; 
	itembackground          : #ffffff;
	itemborder		: 0 none, 0 none, 1 solid #ebebeb, 0 none;
	itemheight		: 65;
}
Combo>#combolist:mouseover, Combo>#combolist:pushed
{
	itembackground		: #fff1e9;
}
Combo>#combolist:selected
{
	itembackground		: #fb9387;
	font			: antialias 22 Dotum; 
	color			: #ffffff;
}
Combo>#combolist:disabled
{
	background		: #fbfbfb;
	border			: 1 solid #c9c9c9;
	color			: #777777;
}

Combo.com_login_lange
{	
	background			: #41454a;
	border				: 0 none;
	bordertype			: round 2 2;
	buttonsize			: 60;
	color				: #ffffff;
	padding		         	: 0 0 0 25;
	font				: antialias bold 22 arial; 
	opacity		        	: 80%;	
}

Combo.com_login_lange>#comboedit
{
	align			: left middle;
	background		: transparent;
	border			: 0 none;
	bordertype		: round 2 2;
	color			: #ffffff;
	font			: antialias bold 22 arial;
	selectbackground	: #777777;
	selectcolor		: #ffffff;
}

Combo.com_login_lange>#dropbutton, Combo.com_login_lange>#dropbutton:mouseover, Combo.com_login_lange>#dropbutton:pushed
{
	background		: transparent;
	border			: 0 none;
	bordertype		: normal 0 0;
	imagealign		: center middle;
	image			: URL('theme://images/cmb_RM_drop.png');
}
Combo.com_login_lange>#combolist
{
	align			: left middle;
	background		: #41454a;
	border			: 0 none;
	bordertype		: round 2 2;
	color			: #ffffff;
	font			: antialias 22 arial; 
	itembackground          : #41454a;
	itemborder		: 0 none, 0 none, 1 solid #ebebeb, 0 none;
	itemheight		: 65;
}
Combo.com_login_lange>#combolist:mouseover, Combo.com_login_lange>#combolist:pushed
{
	itembackground		: #fff1e9;
}
Combo.com_login_lange>#combolist:selected
{
	itembackground		: #fb9387;
	font			: antialias bold 22 arial;  
	color			: #ffffff;
}

Combo.cmb_RM_amount
{	
	background			: #ffffff;
	border				: 1 solid #777777;
	bordertype			: round 30 30 ;
	buttonsize			: 60;
	color				: #444444;
	padding			: 1 0 0 25;
	font				: antialias 22 Dotum ; 
}

Combo.cmb_RM_amount>#comboedit
{
	align			: left middle;
	background		: transparent;
	border			: 0 none;
	bordertype		: normal ;
	color			: #444444;
	font			: ;
	padding			: 1 0 0 10;
	selectbackground	: #777777;
	selectcolor			: #ffffff;
}

Combo.cmb_RM_amount>#dropbutton, Combo.cmb_RM_amount>#dropbutton:mouseover, Combo.cmb_RM_amount>#dropbutton:pushed
{
	background		: transparent;
	border			: 0 none;
	bordertype		: normal 0 0;
	imagealign		: center middle;
	image			: URL('theme://images/cmb_RM_drop.png');
}

Combo.essential,Combo.essential:mouseover
{
	background		: #ffffff URL('theme://images/img_required.png') left top ;
	border			: 1 solid #fa7869;
	padding			: 0 0 0 5;
}

/* Div */
Div
{
	background		: transparent;
	border			: 0 none;
	bordertype		: normal 0 0;
	color			: #444444;
	font			: ;
}
Div:disabled
{
	opacity			: 50;
}

Div.div_WF_SearchBg
{
	background		: #ffffff;
	border			: 3 #272c33, 0 none, 1 solid #aaaaaa, 0 none;
}

Div.div_RM_list
{
	background 		: #ffffff;
}

Div.div_RM_align
{
	background 		: #ffffff;
}

Div.div_RM_tab
{
	background		: #f5f7fa;
	border			: 1 solid #9a9a9a, 0 none, 1 solid #9a9a9a, 0 none;
}

/* Edit */
Edit, Edit:pushed, Edit:focused
{
	align			        : left middle;
	background			: #ffffff;
	border				: 1 solid #cdd2d7;
	bordertype			: round 2 2;
	color				: #444444;
	displaynulltextcolor	        : #999999;
	font				: antialias 22 Dotum; 
	padding				: 0 10 0 10;
	selectbackground		: #777777;
	selectcolor			: #ffffff;
	caretcolor			: #777777;
}
Edit:pushed
{
	background			: #e5e5e5;
}
Edit:disabled
{
	background		: #f0f0f0;
	border			: 1 solid #c9c9c9;
	color			: #777777;
}
Edit:readonly
{
	background		: #f8f8f8;
	border			: 1 solid #c9c9c9;
}

Edit.edt_login_id, Edit.edt_login_id:mouseover, Edit.edt_login_id:pushed, Edit.edt_login_id:focused, Edit.edt_login_id:disable
{
	background		: #41454a URL('theme://images/img_login_id.png') left middle;
	font			: antialias bold 22 arial ;
	border			: 0 none;
	bordertype		: round 2 2;
	color			: #ffffff;
	padding			: 0 0 0 85;
	opacity			: 80%;
}
Edit.edt_login_id:disable
{
	opacity			: 30%;
}

Edit.edt_login_pw, Edit.edt_login_pw:mouseover, Edit.edt_login_pw:pushed, Edit.edt_login_pw:focused, Edit.edt_login_pw:disable
{
	background		: #41454a URL('theme://images/img_login_pw.png') left middle;
	font			: antialias bold 22 arial;
	border			: 0 none;
	bordertype		: round 2 2;
	color			: #ffffff;
	padding			: 0 0 0 85;
	opacity			: 80%;
}

Edit.edt_login_pw:disable
{
	opacity			: 30%;
}

Edit.edt_WF_code, Edit.edt_WF_code:mouseover, Edit.edt_WF_code:pushed, Edit.edt_WF_code:focused, Edit.edt_WF_code:selected
{
	background		: transparent;
	font			: antialias 22 Dotum;
	border		        : 0 none;
	color			: #3852a9ff;
	padding			: 0 0 0 10;
}
Edit.edt_WF_code:disable
{
	opacity			: 50%;
}

Edit.edt_RM_amount
{
	background		: #ffffff;
	border			: 1 sildi #777777;
	bordertype		: normal;
	font			: antialias 22 Dotum ; 
	align			: center middle;	
}

Edit.essential,Edit.essential:mouseover,Edit.essential:focused
{
	background		: #ffffff URL('theme://images/img_required.png') left top ;
	border			: 1 solid #fa7869;
	padding			: 0 5 0 5;
}

/* Form	*/
Form
{
	background		: #ffffff;
	border			: 0 none;
	bordertype		: normal;
}

Form.frm_bg
{
	background		: #eaeaf2;
}

/* Grid */
Grid
{
	background			: #ffffff;
	border				: 1 solid #cdd2d7,;
	bordertype			: normal 0 0;
	color				: #444444;
	treeclosebuttonimage		: URL('theme://images/ico_treeclose.png');
	treeitemimage			: URL('theme://images/ico_treeitem.png');
	treeopenbuttonimage		: URL('theme://images/ico_treeopen.png');
	treecollapseimage   		: URL('theme://images/ico_treeopen.png');
	treeexpandimage     		: URL('theme://images/ico_treeclose.png');
	font				: antialias 20 Dotum; 
}
Grid>#head
{
	cellbackground		: #575c67;
	cellbackground2		: #575c67;
	border				: 0 none;
	bordertype			: normal 0 0;
	cellalign				: center middle;
	cellcolor				: #ffffff;
	cellcolor2			: #ffffff;
	cellfont				: antialias bold 19 Dotum ; 
	cellline				: 0 none, 1 solid #cdd2d7 ,1 solid #aaaaaa, 0 none;
}

Grid>#body, Grid>#body:mouseover
{
	cellbackground		: #ffffff;
	cellbackground2		: #ffffff;
	border				: 0 none;
	bordertype			: normal 0 0;
	cellalign			: center middle;
	cellcolor			: #333333;
	cellcolor2			: #333333;
	cellfont				: antialias 19 Dotum; 
	cellline				: 0 none,1 solid #cdd2d7,1 solid #cdd2d7,0 none;
	cellpadding			: 5 5 5 5;
	selectbackground	: #6780d5;
	selectcolor			: #FFFFFF;
	selectfont			: antialias 19 Dotum; 
}
Grid>#body:pushed
{
	cellbackground		: #deecfc;
	cellbackground2		: #deecfc;
}
Grid>#body:disabled
{
	cellcolor			: #777777;
	cellcolor2			: #777777;
}
Grid>#summ
{
	cellbackground		: #dae0e7;
	cellbackground2		: #dae0e7;
	border				: 0 none;
	bordertype			: normal 0 0;
	cellcolor			: #444444;
	cellcolor2			: #444444;
	selectfont			: antialias bold 19 Dotum ; 
	cellline			: 0 none,1 solid #cdd2d7,1 solid #cdd2d7,0 none;
	cellpadding			: 5 5 5 5;
}

Grid>#summary
{
	cellbackground		: #dae0e7;
	cellbackground2		: #dae0e7;
	border				: 0 none;
	bordertype			: normal 0 0;
	cellcolor			: #444444;
	cellcolor2			: #444444;
	selectfont			: antialias bold 19 Dotum ; 
	cellline			: 0 none,1 solid #cdd2d7,1 solid #cdd2d7,0 none;
	cellpadding			: 5 5 5 5;
}

Grid>#controledit, Grid>#controledit:mouseover, Grid>#controledit:pushed, Grid>#controledit:focused
{
	align			: left middle;
	background			: #ffffff;
	border				: 1 solid #777777;
	bordertype			: round 4 4;
	color				: #444444;
	displaynulltextcolor	: #999999;
	font				: antialias 19 Dotum; 
	padding				: 0 10 0 10;
	selectbackground		: #777777;
	selectcolor			: #ffffff;
	caretcolor			: #777777;
}

Grid>#controledit:pushed
{
	background			: #e5e5e5;
}
Grid>#controledit:disabled
{
	background		: #fbfbfb;
	border			: 1 solid #c9c9c9;
	color			: #777777;
}
Grid>#controlmaskedit, Grid>#controlmaskedit:mouseover, Grid>#controlmaskedit:pushed, Grid>#controlmaskedit:focused
{
	align			: right middle;
	background		: #ffffff;
	border			: 1 solid #777777;
	bordertype		: round 4 4 ;
	color			: #444444;
	font			: antialias 19 Dotum; 
	padding			: 0 10 0 10;
	selectbackground	: #777777;
	selectcolor			: #ffffff;
}
Grid>#controlmaskedit:pushed
{
	background		: #e5e5e5;
}
Grid>#controlmaskedit:disabled
{
	background		: #fbfbfb;
	border			: 1 solid #c9c9c9;
	color			: #777777;
}
Grid>#controltextarea, Grid>#controltextarea:mouseover, Grid>#controltextarea:focused, Grid>#controltextarea:pushed
{
	align			: left top;
	background		: #ffffff;
	border			: 1 solid #777777;
	bordertype		: round 4 4;
	color			: #444444;
	displaynulltextcolor	: #999999;
	linespace			: 10;
	padding			: 10 10 10 10;
	selectbackground	: #777777;
	selectcolor			: #ffffff;
	font				: antialias 19 Dotum; 
}
Grid>#controltextarea:mouseover, Grid>#controltextarea:focused, Grid>#controltextarea:pushed
{
	border			: 1 solid #fc796b;
}
Grid>#controltextarea:disabled
{
	background		: #fbfbfb;
	border			: 1 solid #c9c9c9;
	color			: #777777;
}
Grid>#controlbutton, Grid>#controlbutton:mouseover, Grid>#controlbutton:focused, Grid>#controlbutton:pushed, Grid>#controlbutton:disabled
{
	align			: center middle;
	background		: #ffffff;
	border			: 1 solid #8a8a8a;
	bordertype		: round 3 3;
	color				: #444444;
	cursor				: hand;
	font				: antialias bold 19 Dotum ; 
	padding			: 0 0 0 0;
}
Grid>#controlbutton:pushed
{
	background		: #d7d7d7;
}

Grid>#controlbutton:disabled
{
	background		: #eeeeee;
	border			: 1 solid #c9c9c9;
	color			: #777777;
}
Grid>#controlcheckbox,Grid>#controlcheckbox:mouseover, Grid>#controlcheckbox:pushed, Grid>#controlcheckbox:focused
{
	align			: left middle;
	background		: transparent;
	border			: 0 none;
	bordertype		: normal 0 0;
	buttonalign		: left middle;
	buttonbackground	: URL('theme://images/img_check_bgN.png');
	buttonborder		: 0 none;
	buttonimage		: URL('theme://images/img_check.png');
	buttonsize		: 42;
	color			: #444444;
	font			: antialias 19 Dotum; 
	textpadding		: 0 0 0 20;
}
Grid>#controlcheckbox:disabled
{
	buttonimage		: URL('theme://images/img_checkD.png');
	opacity				: 50%;
}
Grid>#controlcombo
{
	align				: left middle;
	background			: #ffffff;
	border				: 1 solid #777777;
	bordertype			: round 4 4;
	buttonsize			: 52;
	color				: #444444;
	font				: antialias 19 Dotum; 
	itembackground		: #ffffff;
	itemborder			: 0 none;
	itembordertype		: normal 0 0;
	itemcolor			: #444444;
	itemfont				: ;
	itemheight			: 65;
	itempadding			: 0 10 0 10;
	padding			: 0 0 0 10;
}

Grid>#controlcombo:disabled
{
	background		: #fbfbfb;
	border			: 1 solid #c9c9c9;
	color			: #777777;
}
Grid>#controlcombo>#comboedit, Grid>#controlcombo>#comboedit:mouseover, Grid>#controlcombo>#comboedit:focused
{
	align			: left middle;
	background		: transparent;
	border			: 0 none;
	bordertype		: round 4 4
	color			: #444444;
	font			: antialias 19 Dotum; 
	padding			: 1 3 0 3;
	selectbackground	: #777777;
	selectcolor		: #ffffff;
}
Grid>#controlcombo>#comboedit:disabled
{
	background		: #fbfbfb;
	color			: #777777;
}
Grid>#controlcombo>#dropbutton, Grid>#controlcombo>#dropbutton:mouseover, Grid>#controlcombo>#dropbutton:pushed, Grid>#controlcombo>#dropbutton:disabled
{
	background		: transparent;
	border			: 0 none;
	bordertype		: normal 0 0;
	imagealign		: center middle;
	image			: URL('theme://images/cmb_WF_dropN.png');
}

Grid>#controlcombo>#dropbutton:disabled
{
	opacity			: 50%;
}
Grid>#controlcombo>#combolist, Grid>#controlcombo>#combolist:mouseover, Grid>#controlcombo>#combolist:focused
{
	align			: left middle;
	background		: #ffffff;
	border			: 1 solid #b2b2b2;
	bordertype		: normal 0 0;
	color			: #444444;
	font			: antialias 19 Dotum; 
	itembackground	        : #ffffff;
	itemborder		: 0 none;
	itemheight		: 65;
}
Grid>#controlcombo>#combolist:disabled
{
	background		: #fbfbfb;
	border			: 1 solid #c9c9c9;
	color			: #777777;
}
Grid>#controlcalendar, Grid>#controlcalendar:mouseover
{
	background 		: #ffffff;
	border			: 1 solid #777777;
	bordertype		: round 4 4;
	buttonsize		: 60;
	color			: #444444;
	daybackground		: transparent;
	dayborder			: 0 none;
	daybordertype		: normal 0 0;
	daycolor				: #444444;
	dayfont			: antialias 19 Dotum; 
	daysize			: 84 84;
	font			: ;
	popupbackground 	: transparent URL('theme://images/img_cal_monthbg.png');
	popupborder			: 0 none;
	popupbordertype		: normal 0 0;
	popupsize			: 589 697;
	selectbackground		: #777777;
	selectcolor			: #ffffff;
}
 Grid>#controlcalendar:focused, Grid>#controlcalendar:selected
{
	daybackground	: URL('theme://images/img_cal_dayS.png');
	dayborder		: 0 none;
	daycolor		: #ffffff;
}

Grid>#controlcalendar:disabled
{
	background		: #fbfbfb;
	border			: 1 solid #c9c9c9;
	color			: #777777;
}
Grid>#controlcalendar>#calendaredit, Grid>#controlcalendar>#calendaredit:mouseover, Grid>#controlcalendar>#calendaredit:focused,
Grid>#controlcalendar>#calendaredit:disabled
{
	align			: left middle;
	background		: transparent;
	border			: 0 none;
	bordertype		: round 4 4;
	color			: #444444;
	font			: antialias 19 Dotum; 
	padding			: 1 4 0 4;
}
Grid>#controlcalendar>#calendaredit:disabled
{
	color			: #777777;
}
Grid>#controlcalendar>#dropbutton, Grid>#controlcalendar>#dropbutton:mouseover, Grid>#controlcalendar>#dropbutton:pushed,
Grid>#controlcalendar>#dropbutton:focused, Grid>#controlcalendar>#dropbutton:selected, Grid>#controlcalendar>#dropbutton:disabled
{
	background		: transparent;
	border			: 0 none;
	bordertype		: normal 0 0;
	image			: URL('theme://images/btn_cal_dropN.png');
	padding			: 1 0 0 0;
}
Grid>#controlcalendar>#dropbutton:disabled
{
	opacity			: 50%;
}
Grid>#controlcalendar>#spinupbutton, Grid>#controlcalendar>#spinupbutton:mouseover, Grid>#controlcalendar>#spinupbutton:pushed,
Grid>#controlcalendar>#spinupbutton:focused, Grid>#controlcalendar>#spinupbutton:selected, Grid>#controlcalendar>#spinupbutton:disabled
{
	background		: transparent;
	border			: 0 none;
	bordertype		: normal 0 0;
	image			: ;
	imagealign		: center middle;
	margin			: 2 0 -2 0;
}
Grid>#controlcalendar>#spinupbutton:disabled
{
	image			: ;
}
Grid>#controlcalendar>#spindownbutton, Grid>#controlcalendar>#spindownbutton:mouseover, Grid>#controlcalendar>#spindownbutton:pushed,
Grid>#controlcalendar>#spindownbutton:focused, Grid>#controlcalendar>#spindownbutton:selected, Grid>#controlcalendar>#spindownbutton:disabled
{
	background		: transparent;
	border			: 0 none;
	bordertype		: normal 0 0;
	image			: ;
	imagealign		: center middle;
	margin			: -2 0 2 0 ;
}
Grid>#controlcalendar>#spindownbutton:disabled
{
	image			: ;
}
Grid>#controlcalendar>#popupcalendar, Grid>#controlcalendar>#popupcalendar:mouseover, Grid>#controlcalendar>#popupcalendar:pushed
{
	bodybackground	: transpraent;
	bodyborder			: 0 none;
	bodybordertype		: normal 0 0;
	border				: 0 none;
	bordertype			: normal 0 0;
	color				: #444444;
	cursor				: hand;
	font				: ;
	headerformat		: yyyy.MM;
	headerheight		: 99;
	headercolor			: #ffffff;
	headerbackground	: transparent;
	headerborder		: 0 none;
	headerbordertype	: normal 0 0;
	headerfont			:  antialias bold 34 Dotum ; 
	ncpadding			: 100 0 0 0;
	daycolor			: #444444;
	saturdaybackground	: transpraent;
	saturdayborder		: 0 none;
	saturdaybordertype	: normal 0 0;
	saturdayfont			: ;
	saturdaycolor	 		: #117dbb;
	sundaybackground		: transpraent;
	sundayborder			: 0 none;
	sundaybordertype		: normal 0 0;
	sundaycolor			: #ca3e26;
	sundayfont				: ;
	todaycolor				: #ffffff;
	todaybackground		: URL('theme://images/img_cal_dayT.png');
	todayborder				: 0 none;
	todaybordertype			: normal 0 0;
	todayfont				: antialias bold 24 Dotum ; 
	trailingdaycolor			: #d4d4d4;
	usetrailingday			: true;
	weekformat				: 일 월 화 수 목 금 토;
	weekcolor				: #444444;
	weekbackground		: transpraent;
	weekfont				: antialias 24 Dotum ; 
	margin					: 0 0 0 0;
	padding				: 0 0 0 0;
}


Grid>#controlcalendar>#popupcalendar>#prevbutton, Grid>#controlcalendar>#popupcalendar>#prevbutton:mouseover, Grid>#controlcalendar>#popupcalendar>#prevbutton:pushed,
Grid>#controlcalendar>#popupcalendar>#prevbutton:focused, Grid>#controlcalendar>#popupcalendar>#prevbutton:selected, Grid>#controlcalendar>#popupcalendar>#prevbutton:disabled
{
	background		: transparent;
	border			: 0 none;
	bordertype		: normal 0 0;
	image			: URL('theme://images/btn_cal_prevN.png');
	imagealign		: center middle;
}
Grid>#controlcalendar>#popupcalendar>#prevbutton:disabled
{
	opacity			: 50%;
}

Grid>#controlcalendar>#popupcalendar>#nextbutton, Grid>#controlcalendar>#popupcalendar>#nextbutton:mouseover, Grid>#controlcalendar>#popupcalendar>#nextbutton:pushed,
Grid>#controlcalendar>#popupcalendar>#nextbutton:focused, Grid>#controlcalendar>#popupcalendar>#nextbutton:selected, Grid>#controlcalendar>#popupcalendar>#nextbutton:disabled
{
	background		: transparent;
	border			: 0 none;
	bordertype		: normal 0 0;
	image			: URL('theme://images/btn_cal_nextN.png');
	imagealign		: center middle;
}

Grid>#controlcalendar>#popupcalendar>#nextbutton:disabled
{
	opacity			: 50%;
}

Grid>#controlcalendar>#popupcalendar>#yearspin, Grid>#controlcalendar>#popupcalendar>#yearspin:mouseover, Grid>#controlcalendar>#popupcalendar>#yearspin:pushed,
Grid>#controlcalendar>#popupcalendar>#yearspin:focused, Grid>#controlcalendar>#popupcalendar>#yearspin:disabled,
Grid>#controlcalendar>#popupcalendar>#monthspin, Grid>#controlcalendar>#popupcalendar>#monthspin:mouseover, Grid>#controlcalendar>#popupcalendar>#monthspin:pushed,
Grid>#controlcalendar>#popupcalendar>#monthspin:focused, Grid>#controlcalendar>#popupcalendar>#monthspin:disabled
{
	align			: center middle;
	background		: transparent;
	border			: 1 solid #ffffff;
	bordertype		: round 5 5;
	buttonsize		: 0;
	color			: #ffffff;
	font			: antialias 28 Dotum; 
	padding			: 0 0 0 0;
}
Grid>#controlcalendar>#popupcalendar>#yearspin>#spinedit, Grid>#controlcalendar>#popupcalendar>#yearspin>#spinedit:mouseover,
Grid>#controlcalendar>#popupcalendar>#yearspin>#spinedit:focused, Grid>#controlcalendar>#popupcalendar>#yearspin>#spinedit:disabled,
Grid>#controlcalendar>#popupcalendar>#monthspin>#spinedit, Grid>#controlcalendar>#popupcalendar>#monthspin>#spinedit:mouseover,
Grid>#controlcalendar>#popupcalendar>#monthspin>#spinedit:focused, Grid>#controlcalendar>#popupcalendar>#monthspin>#spinedit:disabled
{
	align			: center middle;
	background		: transparent;
	border			: 0 none;
	bordertype		: round 5 5;
	buttonsize		: 0;
	color			: #ffffff;
	font			: antialias 28 Dotum; 
	padding			: 0 0 0 0;
}
Grid>#controlcalendar>#popupcalendar>#yearspin>#spinupbutton, Grid>#controlcalendar>#popupcalendar>#yearspin>#spinupbutton:mouseover,
Grid>#controlcalendar>#popupcalendar>#yearspin>#spinupbutton:pushed, Grid>#controlcalendar>#popupcalendar>#yearspin>#spinupbutton:focused,
Grid>#controlcalendar>#popupcalendar>#yearspin>#spinupbutton:selected, Grid>#controlcalendar>#popupcalendar>#yearspin>#spinupbutton:disabled,
Grid>#controlcalendar>#popupcalendar>#monthspin>#spinupbutton, Grid>#controlcalendar>#popupcalendar>#monthspin>#spinupbutton:mouseover,
Grid>#controlcalendar>#popupcalendar>#monthspin>#spinupbutton:pushed, Grid>#controlcalendar>#popupcalendar>#monthspin>#spinupbutton:focused,
Grid>#controlcalendar>#popupcalendar>#monthspin>#spinupbutton:selected, Grid>#controlcalendar>#popupcalendar>#monthspin>#spinupbutton:disabled
{
	background		: transparent;
	border			: 0 none;
	bordertype		: normal 0 0;
	image			: ;
	imagealign		: center middle;
	margin			: 2 0 -2 0 ;
}
Grid>#controlcalendar>#popupcalendar>#yearspin>#spinupbutton:mouseover, Grid>#controlcalendar>#popupcalendar>#yearspin>#spinupbutton:pushed,
Grid>#controlcalendar>#popupcalendar>#yearspin>#spinupbutton:focused, Grid>#controlcalendar>#popupcalendar>#yearspin>#spinupbutton:selected,
Grid>#controlcalendar>#popupcalendar>#monthspin>#spinupbutton:mouseover, Grid>#controlcalendar>#popupcalendar>#monthspin>#spinupbutton:pushed,
Grid>#controlcalendar>#popupcalendar>#monthspin>#spinupbutton:focused, Grid>#controlcalendar>#popupcalendar>#monthspin>#spinupbutton:selected
{
	image			: ;
}

Grid>#controlcalendar>#popupcalendar>#yearspin>#spinupbutton:disabled,
Grid>#controlcalendar>#popupcalendar>#monthspin>#spinupbutton:disabled
{
	image			: ;
}

Grid>#controlcalendar>#popupcalendar>#yearspin>#spindownbutton, Grid>#controlcalendar>#popupcalendar>#yearspin>#spindownbutton:mouseover,
Grid>#controlcalendar>#popupcalendar>#yearspin>#spindownbutton:pushed, Grid>#controlcalendar>#popupcalendar>#yearspin>#spindownbutton:focused,
Grid>#controlcalendar>#popupcalendar>#yearspin>#spindownbutton:selected, Grid>#controlcalendar>#popupcalendar>#yearspin>#spindownbutton:disabled,
Grid>#controlcalendar>#popupcalendar>#monthspin>#spindownbutton, Grid>#controlcalendar>#popupcalendar>#monthspin>#spindownbutton:mouseover,
Grid>#controlcalendar>#popupcalendar>#monthspin>#spindownbutton:pushed, Grid>#controlcalendar>#popupcalendar>#monthspin>#spindownbutton:focused,
Grid>#controlcalendar>#popupcalendar>#monthspin>#spindownbutton:selected, Grid>#controlcalendar>#popupcalendar>#monthspin>#spindownbutton:disabled
{
	background		: transparent;
	border			: 0 none;
	bordertype		: normal 0 0;
	image			: ;
	imagealign		: center middle;
	margin			: -2 0 2 0 ;
}
Grid>#controlcalendar>#popupcalendar>#yearspin>#spindownbutton:mouseover, Grid>#controlcalendar>#popupcalendar>#yearspin>#spindownbutton:pushed,
Grid>#controlcalendar>#popupcalendar>#yearspin>#spindownbutton:focused, Grid>#controlcalendar>#popupcalendar>#yearspin>#spindownbutton:selected,
Grid>#controlcalendar>#popupcalendar>#monthspin>#spindownbutton:mouseover, Grid>#controlcalendar>#popupcalendar>#monthspin>#spindownbutton:pushed,
Grid>#controlcalendar>#popupcalendar>#monthspin>#spindownbutton:focused, Grid>#controlcalendar>#popupcalendar>#monthspin>#spindownbutton:selected
{
	image			: ;
}

Grid>#controlcalendar>#popupcalendar>#yearspin>#spindownbutton:disabled,
Grid>#controlcalendar>#popupcalendar>#monthspin>#spindownbutton:disabled
{
	image			: ;
}

Grid>#controlexpand, Grid>#controlexpand:mouseover, Grid>#controlexpand:pushed, Grid>#controlexpand:focused
{
	align			: right middle;
	background		: URL('theme://images/btn_grd_expand.png') center middle;
	border			: 0 none;
	bordertype		: normal;
	focusborder		: 0 none;
	opacity			: 100%;
	pusheddrawoffset	: 0 1;
}

Grid>#resizebutton
{
	background		: #f7f7f7;
	border			: 1 solid #c9c9c9, 0 none, 0 none, 1 solid #c9c9c9;
	bordertype		: normal 0 0;
}

Grid.grd_LF_menu
{
	background			:#1c212a;
 	border				: 0 none, 0 none, 1 solid 3e424a,0 none;
	treeclosebuttonimage	        : URL('theme://images/ico_LF_treecollapse.png');
	treeitemimage			: URL('theme://images/ico_LF_treeitem.png');
	treeopenbuttonimage	        : URL('theme://images/ico_LF_treeexpand.png');
	treecollapseimage   		: URL('theme://images/ico_LF_treecollapse.png');
	treeexpandimage     		: URL('theme://images/ico_LF_treeexpand.png');
}

Grid.grd_LF_menu>#body, Grid.grd_LF_menu>#body:mouseover
{
	cellbackground		: #1c212a;
	cellbackground2		: #1c212a;
	border			: 0 none;
	bordertype		: normal 0 0;
	cellalign		: left middle;
	cellcolor		: #ffffff;
	cellcolor2		: #ffffff;
	cellfont			: antialias 24 Dotum; 
	cellline			: 1 solid #3e424a;
	cellpadding			: 0 0 0 30;
	selectbackground		: #080d16;
	selectcolor			: #ff451f;
	selectfont			: antialias bold 24 Dotum; 
	selectline			: 1 solid #3e424a;
}

Grid.grd_LF_menu>#vscrollbar, Grid.grd_LF_menu>#vscrollbar:mouseover, Grid.grd_LF_menu>#vscrollbar:pushed, 
Grid.grd_LF_menu>#vscrollbar:disable
{
	background		: #303131;
	barminsize		: 12;
	border			: 0 none
	bordertype		: normal;
	decbtnsize		: 0;
	incbtnsize		: 0;
	padding			: 0 0 0 0;
	scrollbarsize		: 10;
}

Grid.grd_LF_menu>#vscrollbar>#trackbar, Grid.grd_LF_menu>#vscrollbar>#trackbar:mouseover, Grid.grd_LF_menu>#vscrollbar>#trackbar:pushed
{
	background		: #555555;
	border			: 0 none;
	bordertype		: normal;
}

Grid.grd_WF_menu
{
	background		: #ffffff;
 	border			: 0 none;
}

Grid.grd_WF_menu>#body, Grid.grd_WF_menu>#body:mouseover
{
	cellbackground		: #dde1e7;
	cellbackground2		: #dde1e7;
	border				: 0 none;
	bordertype			: normal 0 0;
	cellalign			: left middle;
	cellcolor			: #1c212a;
	cellcolor2			: #1c212a;
	cellfont			: antialias 24 Dotum; 
	line				: 0 none, 0 none, 1 solid #b7bbc2, 0 none;
	cellpadding			: 0 0 0 80;
	selectbackground	        : #ff451f;
	selectcolor			: #ffffff;
	selectfont			: antialias bold 24 Dotum;
}

Grid.grd_LM_menulev2
{
	background				:#ffffff;
 	border					: 0 none;
	treeclosebuttonimage	: URL('theme://images/ico_LM_treecollapse.png');
	treeitemimage			: URL('theme://images/ico_LM_treeitem.png');
	treeopenbuttonimage	: URL('theme://images/ico_LM_treeexpand.png');
	treecollapseimage   		: URL('theme://images/ico_LM_treecollapse.png');
	treeexpandimage     		: URL('theme://images/ico_LM_treeexpand.png');
}

Grid.grd_LM_menulev2>#body, Grid.grd_LM_menulev2>#body:mouseover
{
	cellbackground		: #ebebeb;
	cellbackground2		:  #ebebeb;
	border				: 0 none;
	bordertype			: normal 0 0;
	cellalign			: left middle;
	cellcolor			: #444444;
	cellcolor2			: #444444;
	cellfont				: antialias bold 26 Dotum; 
	line					:  0 none, 0 none, 1 solid #b5b5b5, 0 none;
	cellpadding			: 0 0 0 80;
	selectbackground	: #d6d6d6;
	selectcolor			: #444444;
	selectfont			: ;
	selectline			: 0 none, 0 none, 1 solid #b5b5b5, 0 none;
}

Grid.grd_RM_align
{
	background			: #ffffff;
	border				: 0 none;
	bordertype			: normal 0 0;
	color				: #444444;
	padding			: 0 0 0 0;
}

Grid.grd_RM_align>#body, Grid.grd_RM_align>#body:mouseover
{
	background 		: #ffffff;
	border				: 0 none;
	bordertype			: normal 0 0;
	cellalign			: left middle;
	line					: 0 none;
	cellpadding			: 0 0 0 0;
	selectbackground	: #ffffff;
	selectcolor			: #444444;
	selectfont			: ;
	selectline			: 0 none;
}

.sta_RM_image
{
      background				: transparent URL('theme://images/sta_RM_image.png') stretch 5,5;
      background2			: transparent URL('theme://images/sta_RM_image.png') stretch 5,5;
      selectbackground		: transparent URL('theme://images/sta_RM_image.png') stretch 5,5;
      padding					: 0 0 0 0;
}

.sta_RM_name
{
	font				: antialias bold 26 Dotum; 
	selectfont			: antialias bold 26 Dotum; 
	padding			: 0 0 0 0;
	align				: left middle;
}

.sta_RM_unit
{
	font				: antialias 22 Dotum ; 
	selectfont			: antialias 22 Dotum ; 
	padding			: 0 0 0 0;
}

.sta_RM_price
{
	font				: antialias bold 22 Dotum ; 
	selectfont			: antialias bold 22 Dotum ; 
	padding			: 0 0 0 0;
	align				: right middle;
}

.sta_RM_priceL
{
	font				: antialias bold 22 Dotum ; 
	selectfont			: antialias bold 22 Dotum ; 
	padding			: 0 0 0 0;
}

.grd_RM_amount
{
	background					: #ffffff;
	controlbordertype			: normal 0 0;
	controlalign					: center middle;
	padding					: 0 -1 0 -1 ;
}

.grd_RM_edt
{
	background					: #ffffff;
	controlbordertype			: round 4 4;
	controlalign					: center middle;
	padding					: 0 0 0 0 ;
}

.grd_RM_minus
{
      controlbackground				: transparent URL('theme://images/btn_RM_minus.png') left middle;
      controlborder					: 0 none;
      controlbordertype				: normal;
      padding							: 0 0 0 0;

}

.grd_RM_plus
{
      controlbackground				: transparent URL('theme://images/btn_RM_plus.png') left middle;
      controlborder					: 0 none;
      controlbordertype				: normal;
      padding							: 0 0 0 0;
}

.grd_RM_detail
{
     controlbackground				: transparent URL('theme://images/btn_RM_detailN.png')  right middle;
     controlborder				: 0 none;
     controlbordertype				: normal;
     padding							: 0 0 0 0;
}

.grd_RM_favorite
{
      controlbackground				: transparent URL('theme://images/btn_RM_favoriteN.png')  left middle;
      controlborder					: 0 none;
      controlbordertype				: normal;
      padding							: 0 0 0 0;
}

.grd_RM_cart
{
      controlbackground				: transparent URL('theme://images/btn_RM_cart.png') center middle;
      controlborder					: 0 none;
      controlbordertype				: normal;
      padding							: 0 0 0 0;
}

.grd_RM_expand
{
      controlbackground				: #b6bec9 URL('theme://images/btn_RM_expand.png') center middle;
      controlborder					: 0 none;
      controlbordertype				: normal;
      padding							: 0 0 0 0;
}

.grd_RM_collapse 
{
      controlbackground				: #b6bec9 URL('theme://images/btn_RM_collapse.png') center middle;
      controlborder					: 0 none;
      controlbordertype				: normal;
      padding							: 0 0 0 0;
}

Grid.grd_RM_order, Grid.grd_RM_order2
{
	background			: #ffffff;
	border				: 0 none, 0 none, 2 solid #c7c7c7, 0 none;
	bordertype			: normal 0 0;
	color				: #444444;
	padding			: 0 0 0 0;
}
Grid.grd_RM_order2
{
	border				: 0 none, 0 none, 1 dotted #bbbbbb, 0 none;
}
Grid.grd_RM_order>#body, Grid.grd_RM_order>#body:mouseover, 
Grid.grd_RM_order2>#body, Grid.grd_RM_order2>#body:mouseover
{
	background 		: #ffffff;
	border				: 0 none;
	bordertype			: normal 0 0;
	cellalign			: left middle;
	line					: 0 none;
	cellpadding			: 0 0 0 0;
	selectbackground	: #ffffff;
	selectcolor			: #444444;
	selectfont			: ;
	selectline			: 0 none;
}


/* GroupBox */
GroupBox,GroupBox:mouseover
{
	background		: #ffffff;
	border			: 1 solid #f0f0f0;
	bordertype		: normal 0 0;
	color			: #555555;
	font			: ;
	titlepadding		: 1 1;
}
GroupBox:disabled
{
	background		: #ffffff;
	border			: 1 solid #f0f0f0;
	color			: #999999;
}

/* ImageViewer */
ImageViewer, ImageViewer:mouseover, ImageViewer:focused
{
	background		: #ffffff ;
	border			: 1 solid #c9c9c9;
	bordertype		: normal 0 0;
	color			: #444444;
}

/* ListBox */
ListBox, ListBox:mouseover, ListBox:focused
{
	align			: left middle;
	background		: #ffffff;
	border			: 1 solid #777777;
	bordertype		: round 4 4;
	color			: #444444;
	font			: antialias 22 Dotum; 
	itembackground		: transparent;
	itemborder		: 0 none, 0 none, 1 solid #ebebeb, 0 none;
	itemheight		: 50;
	itempadding		: 0 10 0 10;
}

ListBox:selected
{
	color			: #ffffff;
	itembackground		: #8799c2;
}
ListBox:disabled
{
	background		: #fbfbfb;
	border			: 1 solid #c9c9c9;
	color			: #a1a1a1;
}

/* MaskEdit */
MaskEdit, MaskEdit:pushed, MaskEdit:focused
{
	align			: right middle;
	background		: #ffffff;
	border			: 1 solid #cdd2d7;
	bordertype		: round 4 4 ;
	color			: #444444;
	font			: antialias 22 Dotum; 
	padding			: 0 10 0 10;
	selectbackground	: #777777;
	selectcolor		: #ffffff;
}
MaskEdit:disabled
{
	background		: #f0f0f0;
	border			: 1 solid #c9c9c9;
	color			: #a1a1a1;
}
MaskEdit:readonly
{
	background		: #f8f8f8;
	border			: 1 solid #c9c9c9;	
}

MaskEdit.essential,MaskEdit.essential:mouseover,MaskEdit.essential:focused
{
	background		: #ffffff URL('theme://images/img_required.png') left top ;
	border			: 1 solid #faa993;
}


/* PopupDiv */
PopupDiv
{
	background		: transparent;
	border			: 0 none;
	bordertype		: normal 0 0;
	color			: #333333;
	font			: 9 Gulim;
}
PopupDiv:disabled
{
	opacity			: 50;
}

/* PopupMenu */
PopupMenu
{
	background		: #ffffff;
	border			: 1 solid #3598db;
	bordertype		: normal 0 0;
	color			: #444444;
	font			: antialias 9 Dotum;
	itembackground		: transparent;
	itemborder		: 0 none,0 none, 1 solid #ebebeb,0 none;
	itembordertype		: normal 0 0;
	itemheight		: 24;
	itempadding		: 0 0 0 10;
}
PopupMenu:mouseover, PopupMenu:focused,PopupMenu:selected
{
	color			: #ffffff;
	itembackground		: #1e90ff;
}
PopupMenu:disabled
{
	color			: #aeaeae;
}

/* ProgressBar */
ProgressBar
{
	background		: #e6e6e6;
	barcolor		: #fc7e6d;
	bargradation		: ;
	border			: 0 none;
	bordertype		: image;
	color			: #ffffff;
	direction		: forward;
	startimage		: URL('theme://images/img_Progressbar.png');
	endimage		: URL('theme://images/img_Progressbar.png');
	progressimage		: URL('theme://images/img_Progressbar.png');
	smooth			: true;
}

ProgressBar:disabled
{
	background		: #f0f0f0;
	barcolor		: #cccccc;
	border			: 0 none;
	color			: #ffffff;
}

/* Radio */
Radio,Radio:mouseover, Radio:pushed
{
	align			: left middle;
	background		: transparent;
	border			: 0 none;
	buttonalign		: left middle;
	buttonbackground	: transparent URL('theme://images/img_radio_bgN.png');
	buttonborder		: 0 none;
	buttonbordertype	: normal;
	buttonimage		: URL('theme://images/img_radio.png');
	buttonsize		: 46;
	color			: #444444;
	font			: antialias 22 Dotum; 
	textpadding		: 0 0 0 20;
}

Radio:disabled
{
	opacity				: 50%;
	buttonimage		: URL('theme://images/img_radioD.png');
}
Radio:readonly
{
	buttonbackground		: URL('theme://images/img_radio_bgN.png');
	buttonimage			: URL('theme://images/img_radio.png');
}

/* Spin */
Spin
{
	align			: right middle;
	background		: #ffffff;
	border			: 1 solid #777777;
	bordertype		: round 4 4;
	buttonalign		: right ;
	buttonsize		: 0;
	color			: #444444;
	font			: antialias 22 Dotum; 
	padding			: 0 10 0 0;
}
Spin:pushed
{
	background		: #e5e5e5;
}
Spin:disabled
{
	background		: #e0e0e0;
	border			: 1 solid #c9c9c9;
	color			: #777777;
}
Spin:readonly
{
	background		: #f8f8f8;
	border			: 1 solid #c9c9c9;
	buttonsize		: 0;
}
Spin>#spinedit, Spin>#spinedit:mouseover, Spin>#spinedit:focused
{
	align			: right middle;
	background		: transparent;
	border			: 0 none;
	bordertype		: normal 0 0;
	color			: #444444;
	font			: 
	padding			: 0 5 0 5 ;
	selectbackground	: #777777;
	selectcolor			: #ffffff;
}
Spin>#spinedit:disabled
{
	color			: #777777;
}
Spin>#spinupbutton
{
	background		: transparent;
	border			: 0 none;
	bordertype		: normal 0 0;
	image			: ;
	imagealign		: center middle;
	margin			: 0 0 0 0 ;
}

Spin>#spinupbutton:disabled
{
	opacity			: 50%;
}
Spin>#spindownbutton
{
	background		: transparent;
	border			: 0 none;
	bordertype		: normal 0 0;
	image			:;
	imagealign		: center middle;
	margin			: -1 0 1 0 ;
}
Spin>#spindownbutton:disabled
{
	opacity			: 50%;
}

Spin.essential,Spin.essential:mouseover,Spin.essential:focused
{
	background		: #ffffff URL('theme://images/img_required.png') left top ;
	border			: 1 solid #fa7869;
	padding			: 0 5 0 5;
}


/* Static */
Static
{
	align			: left middle;
	background		: transparent;
	border			: 0 none;
	bordertype		: normal 0 0;
	color			: #444444;
	font			: antialias 22 Dotum; 
}
Static:disabled
{
	color			: #777777;
}

Static.sta_pop_bg
{
	background		:#ffffff ;
	bordertype		:round 15 15;
}

Static.sta_pop_title
{
	background		: transparent left middle ;
	border			: 0 none, 0 none, 1 solid #cccccc, 0 none;
	color			: #000000;
	font			: antialias bold 26 Dotum ; 	
	padding		        : 0 0 0 25;	
}

Static.sta_GA_title, Static.sta_GA_label
{
	font			: bold 9 verdana;
}

Static.sta_WF_amount
{
	background			:#ffffff;
	border				: 2 solid #b1b1b1;
	bordertype			: round 30 30;
	font				: antialias bold 22 Dotum ; 
	color				: #444444;
	align				: center middle;
}

Static.sta_WF_titlebg
{
	background		: #f0f0f0;
	border			: 0 none, 0 none, 1 solid #bfbfbf, 0 none;
	padding		: 0 0 0 22;
	font			: antialias bold 26 Dotum ; 
}

Static.sta_WF_detail, Static.sta_WF_detailP
{
	background	: #ffffff;
	border		: 0 none;
	font		: antialias 22 Dotum; 
	color		: #444444;
	padding 	: 0 0 0 5;
}

Static.sta_WF_detailBox
{
	background		:#ffffff ;
	border			: 1 solid #b1b1b1, 0 none, 1 solid #b1b1b1, 0 none;
	align			: left middle;
}

Static.sta_WF_detailTline
{
	background		: #272c33;
}

Static.sta_WF_detailP
{
	background	:#ffffff URL('theme://images/img_WFDA_required.png') left middle ;
	font		: antialias bold 22 Dotum; 
}

Static.sta_WF_search
{
	align			: left middle;
	color                   : #ffffff;
}

Static.sta_WF_searchP
{
	background		: transparent URL('theme://images/img_WF_required.png') left middle ;
	padding		: 0 0 0 17;
	font			: antialias bold 22 Dotum;
}

Static.sta_WF_total
{
	align			: center middle;
	font			: antialias bold 22 Dotum ; 	
}

Static.sta_WF_label
{
 	background 	        : #575c67;
 	bordertype		: normal;
 	color                   : #ffffff;
 	font			: antialias 20 Dotum; 
 	align			: center middle;
}

Static.sta_WF_label_s
{
 	background 	        : #575c67;
 	bordertype		: normal;
  	color                   : #ffffff;	
 	font			: antialias 18 Dotum; 
 	align			: center middle;
}

Static.sta_LF_info
{
	background		: @gradation;
	gradation		: linear 0,0 #d6be74 0,100 #c6ae64;
	color			: #5e4b12;
	font			: antialias bold 24 Dotum ;
	padding		        : 0 0 0 40;
}

Static.sta_LF_bg
{
	background		: #000000;
	opacity			: 60%;
}

Static.sta_intro_bg
{
	background		: URL('theme://images/img_intro_bg.png') ;
}

Static.sta_intro_logo
{
	background		: URL('theme://images/img_intro_logo.png') ;
}

Static.sta_intro_txt
{
	background		: URL('theme://images/img_intro_txt.png') ;
}

Static.sta_login_bg
{
        background              : URL('theme://images/img_login_back.png') stretch ;
	border			: 0 nonene;
	bordertype		: normal 0 0;	
}

Static.sta_Top_title
{
	color			: #ffffff;
	font			: antialias bold 28 Dotum; 
}

Static.sta_CM_main_t1, Static.sta_CM_main_ts1
{
	font			: antialias bold 28 Dotum; 
	color			: #5488ac;
}

Static.sta_CM_main_t2, Static.sta_CM_main_ts2
{
	font			: antialias bold 28 Dotum; 
	color			: #7a7f5a;
	align			: right middle;
}

Static.sta_CM_main_t3, Static.sta_CM_main_ts3
{
	font			: antialias bold 28 Dotum; 
	color			: #a97f5b;
}

Static.sta_CM_main_t4, Static.sta_CM_main_ts4
{
	font			: antialias bold 28 Dotum; 
	color			: #6a7a8d;
	align			: right middle;
}

Static.sta_CM_main_ts1, Static.sta_CM_main_ts2, Static.sta_CM_main_ts3, Static.sta_CM_main_ts4
{
	font			: antialias bold 18 Dotum; 
}

Static.sta_CM_main_img1
{
	background		: transparent URL('theme://images/img_main_notice.png') center middle;
}

Static.sta_CM_main_img2
{
	background		: transparent URL('theme://images/img_main_as.png') center middle;
}

Static.sta_CM_main_img3
{
	background		: transparent URL('theme://images/img_main_data.png') center middle;
}

Static.sta_CM_main_img4
{
	background		: transparent URL('theme://images/img_main_news.png') center middle;
}

Static.sta_CM_main_bg1
{
	background		: transparent URL('theme://images/img_main_bg1.png') center middle;
}
Static.sta_CM_main_bg2
{
	background		: transparent URL('theme://images/img_main_bg2.png') center middle;
}

Static.sta_CM_main_bg3
{
	background		: transparent URL('theme://images/img_main_bg3.png') center middle;
}

Static.sta_CM_main_bg4
{
	background		: transparent URL('theme://images/img_main_bg4.png') center middle;
}

Static.sta_LM_txt
{
	color			: #989c9e;
	font			: antialias bold 18 arial ; 
}

Static.sta_RM_title, Static.sta_RM_title2
{
	background		: #ffffff;
	border			: 0 none, 0 none, 1 solid #bfbfbf, 0 none;
	padding		: 0 0 0 22;
	font			: antialias bold 26 Dotum; 
}

Static.sta_RM_title2
{
	border			: 0 none;
	font			: antialias bold 24 Dotum; 
}

Static.sta_RM_roundtxt
{
	background		: #b5bdc8;
	border			: 0 none;
	bordertype		: round 22 22;
	align			: center middle;
	font			: antialias bold 21 Dotum; 
	color			: #ffffff;
	padding			: 0 0 0 0;
}

Static.sta_RM_txt
{
	color			: #444444;
	font			: antialias 21 Dotum; 
}

Static.sta_RM_listname
{
	font				: antialias bold 24 Dotum ; 
}
Static.sta_RM_unit
{
	font				: antialias 20 Dotum ; 
}
Static.sta_RM_price
{
	font				: antialias bold 22 Dotum  ; 
	controlalignalign				: right middle;
}
Static.sta_RM_priceL
{
	font				: antialias bold 22 Dotum; 
	controlalign				: left middle;
}
Static.sta_RM_tab
{
	background 		: #f5f7fa;
	border				: 1 solid #bfbfbf, 0 none, 1 solid #bfbfbf, 0 none ;	
}

Static.sta_RM_tabbg
{
	background 		: #f5f7fa;
}

Static.sta_Top_info
{
	background		: URL('theme://images/img_Top_info.png') left middle;
	padding		        : 1 0 0 23 ;
	color			: #dbdbdb;
	font			: antialias bold 24 Dotum  ; 
}

Static.sta_WF_monthbg
{
	background		: transparent URL('theme://images/img_calmonth_bg.png') center middle;
}

Static.sta_RM_time
{
	color			: #333333;
	font			: antialias bold 34 arial;
}
Static.sta_WF_bar
{
	background 	       	: #edededff;
	border                  : 1 solid #d1d1d1,0 none,1 solid #d1d1d1,0 none;
}

/* Tab */
Tab, Tab:mouseover, Tab:focused, Tab:disabled 
{
	background 	       	: #ffffff;
	border					: 3 solid #272c33, 0 none, 0 none, 0 none;
	bordertype				: normal 0 0;
	buttonbackground 		: URL('theme://images/tab_WF_N.png') stretch 5,5;
	buttonborder			: 0 none;
	buttonbordertype		: normal 0 0;
	buttonpadding			: 7 40 5 40;
	color					: #666666;
	font					: antialias 22 Dotum; 
	showextrabutton		: false;	
	padding				: 0 0 0 0;
}

Tab:pushed, Tab:selected
{
	buttonbackground 	: URL('theme://images/tab_WF_S.png') stretch 5,5 ;
	color 				: #ffffff;
	font				: antialias 22 Dotum ; 
}
Tab:disabled
{
	color			: #999999;
}
Tab>#spinupbutton, Tab>#spinupbutton:disabled,Tab>#spinupbutton:mouseover, 
Tab>#spinupbutton:focused,Tab>#spinupbutton:pushed, Tab>#spinupbutton:selected
{
	background		: transparent;
	border			: 0 none;
	bordertype		: normal 0 0;
	image			: ;
}
Tab>#spinupbutton:mouseover, Tab>#spinupbutton:pushed
{
	image			: ;
}

Tab>#spinupbutton:disabled
{
	opacity			: 50;
}
Tab>#spindownbutton,Tab>#spindownbutton:mouseover, Tab>#spindownbutton:focused,
Tab>#spindownbutton:pushed, Tab>#spindownbutton:selected, Tab>#spindownbutton:disabled
{
	background		: transparent;
	border			: 0 none;
	bordertype		: normal 0 0;
	image			: ;
}
Tab>#spindownbutton:mouseover, Tab>#spindownbutton:pushed
{
	image			: ;
}

Tab>#spindownbutton:disabled
{
	opacity			: 50%;
}
Tab>#extrabutton
{
	background		: transparent;
	border			: 0 none;
	bordertype		: normal 0 0;
}

Tab.tab_LF_user, Tab.tab_LF_user:mouseover,Tab.tab_LF_user:focused
{
	background		: #262a35;
	border			: 0 none;
	buttonbackground	: #262a35;
	buttonborder		: 0 none,1 solid #464a53,0 none,0 none;
	buttonpadding		: 30 40 30 40;
	color			: #aaabae;
	font			: antialias bold 22 Dotum;
	cursor                  : hand;	
}
Tab.tab_LF_user:pushed, Tab.tab_LF_user:selected
{
	border			: 0 none;
	buttonbackground	: #4365a9;
	buttonborder		: 0 none,1 solid #464a53,0 none,0 none;
	buttonpadding		: 30 40 30 40;
        color			: #ffffff;
	font			: antialias bold 22 Dotum;	
}
Tab.tab_LF_user:disabled
{
	buttonborder		: 0 none,1 solid #464a53,0 none,0 none;
	buttonpadding		: 30 40 30 40;
	color			: #aaabae;
	opacity			: 50%;
}

Tab.tab_RM, Tab.tab_RM:mouseover, Tab.tab_RM:pushed, Tab.tab_RM:selected, Tab.tab_RM:disabled
{
	background 	      	: #f5f7fa;
	border				: 0 none;
	bordertype			: normal 0 0;
	buttonbackground 	: URL('theme://images/tab_RM_N.png') stretch 5,5;
	buttonborder			: 0 none;
	buttonbordertype		: normal 0 0;
	buttonpadding		: 25 35 23 35;
	color				: #666666;
	font				: antialias bold 24 Dotum; 
	showextrabutton		: false;	
	padding				: 0 0 0 0;
}

Tab.tab_RM:selected
{
	buttonbackground 	: URL('theme://images/tab_RM_S.png') stretch 5,5;
	color 				: #444444;
}
Tab.tab_RM:disabled
{
	opacity				: 50%;
}

/* Tabpage */
Tabpage
{
	accessibility		: ;
	background		: #ffffffff;
	cursor			: ;
	gradation		: ;
	opacity			: ;
	padding			: ;
	stepalign			: ;
	stepshowtype		: ;
}

Tabpage.tabp_LF_user
{
	background		: #4365a9;
}


/* TextArea */
TextArea, TextArea:focused, TextArea:pushed
{
	align					: left top;
	background				: #ffffff;
	border					: 1 solid #cdd2d7;
	bordertype				: round 4 4;
	color					: #444444;
	displaynulltextcolor		: #999999;
	linespace				: 10;
	padding				: 10 10 10 10;
	selectbackground		: #777777;
	selectcolor				: #ffffff;
	font					: antialias 22 Dotum; 
}
TextArea:pushed
{
	background		: #e5e5e5;
}
TextArea:disabled
{
	background		: #f0f0f0;
	border			: 1 solid #c9c9c9;
	color			: #777777;
}
TextArea:readonly
{
	background		: #f8f8f8;
	border			: 1 solid #c9c9c9;
}

TextArea.essential,TextArea.essential:mouseover,TextArea.essential:focused
{
	background		: #ffffff URL('theme://images/img_required.png') left top ;
	border			: 1 solid #fa7869;
	padding			: 5 5 5 5;
}


/* head essential */
.headEssential  
{
	background		: #dae0e7 URL('theme://images/img_required.png') left top;
}
/* body essential */
.bodyEssential
{
	background		: #edf4fa;
}







